[2021-11-14 21:40] worksofliam opened #1 "RPGLE linter"
Linter would be cool. Was thinking the options could be defined in a .json file somewhere, whether a source file or in the IFS.

Some potential settings:

* QualifiedCheck - When true, will warn about structs defined without the qualified keyword.
* PrototypeCheck - When true, will warn about prototypes defined without extpgm or extproc.
* TooMuchHardCoding - When true, will warn about string and

[2021-11-17 00:33] priceaj commented on #1
fair enough, I take it it will be depenedent on the current extension?

[2021-11-17 02:42] worksofliam commented on #1
@priceaj Yes. Although that is only because it depends on include statements that point to source members and stream files. In the future, we'll make it work with local sources too - and therefore not depending on the extension.

[2021-11-18 03:42] worksofliam opened #2 "Logo"
I'd like a logo for this extension. Is there an RPG mascot we could make use of or something?

[2021-11-18 03:50] worksofliam opened #3 "Lint option: procedures should not reference global variables"

[2021-11-18 03:51] worksofliam opened #4 "Lint option: string literals should not be duplicated"
And instead should be converted to a constant instead?

[2021-11-18 03:52] worksofliam opened #5 "Lint option: variables used in only one procedure should not be global"

[2021-11-18 03:53] worksofliam opened #6 "Lint option: SQL statements should not join any tables"
And a view should be used instead.

[2021-11-18 03:54] worksofliam opened #7 "Lint option: *BLANK should be used over empty string literal"
E.g. `''` should be `*BLANK`

[2021-11-18 03:57] worksofliam opened #8 "Lint option: Error when CTDATA is used on variable definition"
Because CTDATA is ew

[2021-11-18 04:00] worksofliam opened #9 "Lint option: Many defined variables with the same type should become LIKE(x)"
E.g.

[code]

Should be

[code]

Though, not sure how to force this. We'd need to quick fix to handle this

[2021-11-18 14:28] #4 closed

[2021-11-18 14:28] #7 closed

[2021-11-18 17:49] priceaj opened #10 "Lint Option: File Access should be completed using SQL"
SETLL, CHAIN READ etc should be flagged and the SQL equilivalents suggested

[2021-11-18 17:50] priceaj commented on #3
+1

[2021-11-18 17:59] worksofliam commented on #10
LOVE this one.

@priceaj Would you perhaps be willing to share the SQL on this issue?

e.g.

* `CHAIN` becomes `SELECT...`

[2021-11-18 18:04] priceaj opened #11 "Lint Option: Depricated Op Codes"
For if this gets extended to fixed format, don't use Op codes which don't have Free format equilivents

[2021-11-18 18:21] priceaj opened #12 "Lint option: Stick to a consistant way of referencing other source (COPY or INCLUDE)"
I would normally say that /COPY is better because it is included by default when compiling SQLRPGLE without having to compile at *LVL2 however I did notice that IBM state this:

https://www.ibm.com/docs/en/i/7.1?topic=directives-copy-include

so INCLUDE does have it's advantages!

Could we have an option i.e. COPY or INCLUDE to make the behaviour consistant?

[2021-11-18 18:22] priceaj commented on #8
+1!

[2021-11-18 18:23] worksofliam commented on #12
I like this one.

Basically we need an option that says only `include` or only `copy`.

[2021-11-18 18:24] priceaj opened #13 "Lint Option: Input parameters not changed within a procedure should be passed in with CONST"

[2021-11-18 18:32] priceaj commented on #11
`MOVE` `MOVEL` `Z-ADD` `Z-SUB` `MULT` `ADD` `TIME` etc

[2021-11-18 18:37] priceaj opened #14 "Lint Option: Use SQLSTT instead of SQLCOD"
[SQL-92 YES 1992!!!](http://www.contrib.andrew.cmu.edu/~shadow/sql/sql1992.txt)

Note: SQLSTATE is the preferred status parameter. The SQLCODE status parameter is a deprecated feature that is supported for compatibility with earlier versions of this International Standard. See Annex D, "Deprecated features".

[2021-11-18 19:06] bmorris1 commented on #10
Usually it's not a great idea to just replace each RPG statement with a matching SQL statement. That can lead to terrible performance. But it would be super complex (if it's even possible to do programmatically) to suggest how to do the all the I/O for some file with one or more SQL statements.

[2021-11-18 19:11] bmorris1 commented on #12
/INCLUDE members are also considered fixed-form by default. Although now that /FREE isn't used any more, it's about whether the file is **FREE.

The only difference between /INCLUDE and /COPY is whether the precompiler processes it by default. When the RPG docs talk about /COPY in general, they mean both /INCLUDE and /COPY.

But I like the idea of having a lint option to make it consistent.

[2021-11-18 19:13] bmorris1 commented on #8
Ew indeed.

What about DIM(*CTDATA)? It's still somewhat ew, but maybe not as icky as CTDATA which hardcodes the DIM so the ct data has to match.

[2021-11-18 19:20] bmorris1 commented on #9
I think this is tricky to determine. Not all CHAR(25) are names. I guess if the name of the field is always "name" it -might- be ok, but it could also be annoying to get lint errors that were irrelevant. A "name" subfield in Product_Info and a "name" subfield in Pet_Info might only be both 25 by coincidence, and shouldn't necessarily be tied together with a named constant or LIKE definition.

[2021-11-18 19:41] priceaj commented on #10
Hi @bmorris1

I'm quite surprised to hear someone from the RPG development team at IBM mentioning performance issues between SQL and RLA, especially when the "modernization" content I have read coming from IBM seems to be pushing people towards embedded SQL and away from RLA ("Modernizing IBM i Applications from the Database up to the User Interface and Everything in Between", springs to mind!)

I

[2021-11-18 19:44] worksofliam commented on #8
@bmorris1 I should add a rule for that too!

[2021-11-18 20:51] priceaj commented on #2
I think the logo should be an RPG launcher. You could subtitle the extension "RPG language tools: blowing up bad code!"

[2021-11-18 20:53] worksofliam commented on #2
@priceaj lol! I love the enthusiasm.

For now, we have this, but absolutely subject to change. I want to create logos for all the extensions :)

![](https://raw.githubusercontent.com/halcyon-tech/vscode-rpgle/main/media/logo.png)

[2021-11-18 21:45] #12 closed

[2021-11-18 22:00] bmorris1 commented on #10
Yes, it's the blind conversions of each opcode to an SQL equivalent. I was disagreeing with the idea that the linter would suggested an equivalent SQL operation for each RPG operation.

If people intelligently change what the RPG logic is doing to do the same thing in SQL in a set-based way, then the SQL performance might be much much better than the RPG could ever be.

[2021-11-18 22:10] #6 closed

[2021-11-18 22:13] worksofliam commented on #11
We'll likely only ever support free-format. I have no interest in ever supporting fixed-format.. at least for now.

Perhaps this could be Disallowed opcode instead?

[2021-11-18 22:38] worksofliam commented on #3
Oh I do like this one
![image](https://user-images.githubusercontent.com/3708366/142507992-3c592089-d976-4156-aa28-e2cd886a5a55.png)

[2021-11-18 22:40] #3 closed

[2021-11-18 22:40] priceaj commented on #10
@bmorris1 phew! Thanks for confirming!!

[2021-11-18 22:42] worksofliam commented on #10
@priceaj With all that being said, how do you see this working now?

[2021-11-18 22:51] priceaj commented on #10
So we are still making the linter Unopinionated Right? (As in this won't be enabled by default)

Just have it highlight when the relevant RLA op codes are used, you don't have to provide a quick fix for everything. Most linters don't they will just say, this is wrong, fix it.

It's the choice of the user to enable it!

[2021-11-18 22:52] worksofliam commented on #10
@priceaj Right! There is a default configuration that is created when people enable it: https://github.com/halcyon-tech/vscode-rpgle/blob/main/src/models/default.js

Maybe this is similar to #11?

[2021-11-22 23:01] SJLennon opened #15 "rpgleIndentationEnabled Gone?"
Where did "code-for-ibmi.rpgleIndentationEnabled": true go? I know it was experimental, but I liked the feature ! And it worked fairly recently, now it is "unknown Configuration setting". In fact, per #387, it looked like it would be handy to totally fix indention.

I don't can't see any references here. Only this:

Enable these options in VS Code settings.

vscode-rpgle.rpgleColumnAssistEnabled -

[2021-11-23 01:59] worksofliam commented on #15
Hey @SJLennon - sorry, I don't really understand what the question is here.

Could you clarify for me?

[2021-11-23 02:37] worksofliam commented on #15
@SJLennon Having re-read it a few times, please feel free to share a snippet of code you're having issues with.

This is a fairly large change, I'm aware. Once we get the kinks worked out after migrating all the code, it will be great.

[2021-11-23 03:57] SJLennon commented on #15
@worksofliam Well, let me try to clarify...
1) There is  nothing about indentation in the readme.  (That I can see.)
2) If I don't want it there is not a way to turn it off. (Not that I want to turn it off if it works, but someone might.)
3) The "quick fixes" you added recently no longer seem to work.
4) It appears inconsistent in when it checks for and how it reports errors.

I started this comme

[2021-11-23 04:10] worksofliam commented on #15
@SJLennon It seems to be working for me.

I tried your code, it was showing the correct indentation warnings and I also was able to get it to react to another validation error.

![image](https://user-images.githubusercontent.com/3708366/142970078-951dc221-5eef-4fee-b6b7-ed6a23797219.png)

This is on 0.0.5.

[2021-11-23 15:52] SJLennon commented on #15
@worksofliam 0,0,5 makes no difference.
1. I've restarted VS Code multiple times just to be sure I always have a clean environment.
2. I've uninstalled the extension, restarted VS Code to see that there is no indentation checking, re-installed the extension. No difference.
3. I created a brand new connection.  Still no success, other than it didn't ask me to install the Cl Prompting tools, which m

[2021-11-23 16:10] worksofliam commented on #15
@SJLennon what version of Code for IBM i do you have? Perhaps an old version if conflicting with it.

Honestly, I am still lost at what your issue is. Sorry about that.

Are the errors not over the right columns? Are certain errors not appearing?

[2021-11-23 16:33] SJLennon commented on #15
I'm on the latest version of everything.  Living on the bleeding edge...
Code for IBM i 0,8,2
VS Code 1.62.3

[2021-11-23 20:25] SJLennon commented on #15
**No success with a brand new installation**
So is the problem Windows, or is it PUB400?  Is it me?  Thoroughly confused ☹️ .

**The details:**
Running under VMware and Win 10. Win 10 up to date.
First time installation of VS Code in this VM.  No customization other than to pick the theme  (stttings.json provided belwo).
Only 4 extensions installed.
![image](https://user-images.githubusercontent.c

[2021-11-24 03:49] SJLennon commented on #15
@worksofliam Spent the evening building a Ubuntu VM.  Installed VS Code.
Just connected to PUB400.  Opened source and it **seems** to have the same problems.  More experimentation in the morning...

[2021-11-24 03:50] SJLennon commented on #15
@worksofliam Spent the evening building a Ubuntu VM.  Installed VS Code.
Just connected to PUB400.  Opened source and it **seems** to have the same problems.  More experimentation in the morning...

[2021-11-24 03:50] worksofliam commented on #15
@SJLennon You next best thing to do is a get a video recorded for me.

[2021-11-24 03:53] SJLennon commented on #15
@worksofliam Can you suggest the best software to record a video? (Presumably you mean recording the screen, because I don't have a camera of mike on this desktop.)

[2021-11-25 04:07] SJLennon commented on #15
@worksofliam
**I have new findings** It seems like a switch to another tab, then switching back causes a rerun of the indentation logic.

I've replicated the problem on my Win 10 desktop, in Ubuntu in a VM, and today in a new installation of VS Code on my Win 10 laptop. So I don't think the issue lies is my hardware, OS or my VS Code configuration.  So I did some more testing and stumbled into thi

[2021-11-29 17:07] worksofliam commented on #15
@SJLennon Just want you to know this is on my priority list after I am done working on another Code for IBM i bug.

Will get back to this ASAP.

[2021-11-29 17:25] SJLennon commented on #15
@worksofliam Appreciate the update and your efforts.
I'm not inconvenienced.  Handle things that impact most users first.

[2021-11-29 20:37] worksofliam opened #16 "Internally support local variables inside of procedures"

[2021-11-29 20:39] worksofliam opened #17 "Content assist should be enabled automatically"
Only the linter should be an optional feature since it has a large impact

[2021-11-29 20:40] #1 closed

[2021-11-29 20:46] cbuck0222 opened #18 "Hover assist should display definition details for variables, constants, data structures, files, etc."
When browsing and attempting to follow existing code, it would be nice to be able to hover over a variable name, for example, to display definition details about that field and where it is defined (i.e. external definition location, data type, length, etc.). It would also be helpful to offer the external location for file declarations as well. RDi offers this feature and is quite handy, especially

[2021-11-29 20:47] worksofliam commented on #18
Depends on #16. Good feature

[2021-11-30 22:02] worksofliam commented on #15
@SJLennon Good news!! I finally recreated this issue.

I think I know the cause... will post again when I am able to work on it.

[2021-12-01 16:16] priceaj commented on #9
Actually doing some RPG coding, and come here to raise this as a linter idea! I'd noticed I was using a CHAR(7) everywhere to represent the same entitiy, so went back to change it to use LIKE.

As far as implementation, you should definitley exclude anything with the TEMPLATE keyword from being picked up as an error by this.

However, I would also say the specification of a template should probbal

[2021-12-01 17:13] priceaj opened #19 "Lint Option: unused procedures"
Just noticed the RDi linter checks for unused procedures

we should prob do the same!

[2021-12-01 17:15] worksofliam commented on #19
Excellent idea

[2021-12-02 05:30] SpiderEkb opened #20 "Support for code in local workspace"
What should I include in the settings for the outline view to work?
I work with a file not on a local computer. Extension - .rpgle
File starts with ** free

[2021-12-02 12:23] worksofliam commented on #20
Please share a code sample which isn't working. It should work by default.

[2021-12-02 12:39] SpiderEkb commented on #20
This is an abbreviated version. The whole code is, firstly, very long, and secondly, I cannot show it.

===========================================================================
**FREE
  //  *C  DBGVIEW(*COPY)
       CTL-OPT  DECEDIT('.') DATEDIT(*DMY/)
                OPTION(*SRCSTMT:*SHOWCPY:*NODEBUGIO)
                CVTOPT(*DATETIME)
                ACTGRP(*CALLER) DFTACTGRP(*NO) PGMINFO(*N

[2021-12-02 16:07] worksofliam commented on #20
Looks like it works for me.

![image](https://user-images.githubusercontent.com/3708366/144458821-44a317b6-9b62-45ba-9ea1-ea069d1da454.png)

What version of the extension do you have installed?

[2021-12-02 17:05] SpiderEkb commented on #20
I am using the latest version installed from VSCode Marketplace - RPG Language Tools 0.0.6
The problem may be that I am working with files on the local computer, not on the IBM i server. And VSCode is not connected to the server
![VSCODE](https://user-images.githubusercontent.com/29450542/144468888-abdc8e0b-71d7-43f5-9580-aaf8a8733ced.PNG)

[2021-12-02 17:11] worksofliam commented on #20
@SpiderEkb Ah, that'd be why. For the time being, we're really focusing on files on the remote server (since that's where the majority of our users are writing code).

With that being said, I do think that support for code on the local machine would be simple enough to implement in the future.

[2021-12-02 17:24] SpiderEkb commented on #20
Well, we have a slightly different scheme of work ...
We work with Git, gradle and jenkins. From the local computer, we commit to git, and from there, jenkins using gradle builds the patch and places it on the IBM i server and in the artifactory. We almost never work with source files on the server.

[2021-12-02 17:26] worksofliam commented on #20
@SpiderEkb I am completely envious of that setup. Sounds great.

We actually had a PR a few months back that added support for local development (which included the content assist, etc), where it would let the user write all the code on the local machine, and upload only what's depended on and used to be compiled. Was really neat, but lack of interest had it removed.

I will make sure this gets do

[2021-12-02 17:34] SpiderEkb commented on #20
Barry, good news. Very happy with the perspective of a working outline in vscode
Our scheme of work is due to the fact that we have a lot of units on the server. The patch is first put in a component testing unit, then in a business testing unit, then load and integration testing, then a prelive unit, and only then in production
Besides, there are many teams, many developers, many projects. It is

[2021-12-03 00:17] worksofliam commented on #15
@SJLennon I just released 0.0.7 - will you give it another go?

[2021-12-03 01:31] SJLennon commented on #15
@worksofliam I just did a quick test with 0.0.7 and VS Code 0.8.4.
1, Now I'm not seeing any errors in A_ERR.  I can't do anything to show an indentation error.  Is there any new setting I need to turn on?

2. In Code for IBM i OUTPUT, when I open the member,  I still see A_ERR and A_OK being copied twice to the IFS.
However, when I switch between tabs I no longer see the source being copied to th

[2021-12-03 01:36] SJLennon commented on #15
@worksofliam Also noticed today that I need to have RPGLE Language Tools installed to get content assist (%subst, etc) to work.

[2021-12-03 01:40] worksofliam commented on #15
@SJLennon

1. Do you have the linter enabled in the VS Code settings?
2. Yes, the snippets were moved to this language extension from the base.

[2021-12-03 01:52] SJLennon commented on #15
@worksofliam
Setting  **"vscode-rpgle.rpgleLinterSupportEnabled":true,** seems to be the trick.  Looks to be working fine now.

Sorry, I would not have expected that this would be considered part of lint, which was something that I planned to look at when it stabilized a bit more.

[2021-12-03 02:00] worksofliam commented on #15
Yes, there were some issues with the linter when it was disabled and it still working.

What do you say the status of your issue is now?

[2021-12-03 02:04] SJLennon commented on #15
@worksofliam
Didn't I see that on an indentation error it would offer a quick fix?  That seems to have gone.

[2021-12-03 02:05] worksofliam commented on #15
@SJLennon thar actually was purposed removed for now (for some technical reasons, though I do miss it). Perhaps that'd be worth another issue!

[2021-12-03 02:06] SJLennon commented on #15
I'll beat it around a bit tomorrow.
________________________________
From: barry ***@***.***>
Sent: Thursday, December 2, 2021 9:00 PM
To: halcyon-tech/vscode-rpgle ***@***.***>
Cc: SJLennon ***@***.***>; Mention ***@***.***>
Subject: Re: [halcyon-tech/vscode-rpgle] rpgleIndentationEnabled Gone? (Issue #15)

Yes, there were some issues with the linter when it was disabled and it still working.

Wh

[2021-12-03 16:31] SJLennon commented on #15
@worksofliam Looks like everything is good now.  Closing.

[2021-12-03 16:31] #15 closed

[2021-12-03 16:36] SJLennon opened #21 "rpgleIndentation: Add "Quick Fix""
Can we add Quick Fix capability when an indentation error is reported?  Also with the option to fix all indentation errors in the member.

[2021-12-03 19:09] AjaykulkarniIBMi opened #22 "outline and lint not working"
Hello, i am on MAC.
I have the extension vscode rpgle. I have enabled content assist, lint in the setting,
I have an RPGLE program (**Free), the lint and outline view is not working.
even the snippets %scan is not working

[2021-12-03 20:09] worksofliam commented on #22
1. Please share a code sample.
2. What version of Code for IBM i and vscode-rpgle
3. Are you looking at source on the remote server too?

[2021-12-04 21:43] kevindRuby commented on #17
Content Assist does not seem to be working.  tried Shift +12 and have all options in settings ticked

[2021-12-04 22:29] worksofliam commented on #17
Hey @kevindRuby -

Would you mind sharing a code snippet of something that doesn't work?

Thanks!

[2021-12-04 23:23] worksofliam commented on #17
@kevindRuby Did some testing again - I can see it working.

![36B70CE2-896B-4725-9D72-40C4E44D89FF](https://user-images.githubusercontent.com/3708366/144727631-b753389a-9f6a-4ef6-b9b1-fb3c6c34e0d7.png)

Liam

[2021-12-05 15:34] kevindRuby commented on #17
See below a screenshot. Shift + F12 does not work here.  Hover also does not work.   I will also added some code:
![image](https://user-images.githubusercontent.com/3673482/144752982-95c11351-1a2d-4732-aa8f-a68a98c4f678.png)

**LIAMALLAN2.RPGLE**
`**FREE

Ctl-opt DFTACTGRP(*NO);

//try again https://youtu.be/b6ZmtTelYDU?list=PLNl31cqBafCp-ml8WqPeriHWLD1bkg7KL
/copy qkdcopybks,kdcopybok1

dcl-s myn

[2021-12-05 20:21] worksofliam commented on #20
@SpiderEkb I got this working today as I needed it for my new unit tests. Should be out this week.

[2021-12-05 20:33] worksofliam commented on #20
Will only work for IFS styled copy/include statements

![image](https://user-images.githubusercontent.com/3708366/144762913-196aa787-3c7d-4ff2-8b6f-e8aa2adc3a76.png)

[2021-12-05 21:46] worksofliam commented on #17
@kevindRuby Tested and works okay for me.

Can you share a screenshot of your outline view? Also, is `qkdcopybks` in the same library as the base member?

[2021-12-05 22:01] kevindRuby commented on #17
No.  Also, is qkdcopybks is in a different library from the base member.

Can't find the Outline view

[2021-12-05 23:03] worksofliam commented on #20
@SpiderEkb In 0.0.8, support for local file system outline has been added.

[2021-12-05 23:08] #20 closed

[2021-12-05 23:26] worksofliam commented on #17
@kevindRuby

As noted in the [FAQ](https://github.com/halcyon-tech/vscode-rpgle#faq), we only support bringing sources in from the same working library.

The [outline view](https://code.visualstudio.com/docs/getstarted/userinterface#_outline-view) can be found in the Explorer panel, but can be moved to anywhere you like.

[2021-12-05 23:26] #17 closed

[2021-12-06 06:23] SpiderEkb commented on #20
@worksofliam Unfortunately, after updating the plugin version to 0.0.8, nothing has changed :-(
As before "No symbols found in document"

Sample code:

`**FREE
  //  *C  DBGVIEW(*COPY)
  //  *-------------------------------------------------------------------------
  //  *              System Name - EQUATION
  //  *              Module Name - MQTSND
  //  *
  //  *             Program Name - MQTSN

[2021-12-06 14:10] worksofliam commented on #20
@SpiderEkb Not sure how you've managed that, but I am seeing content in the outline view myself. Is the language type RPGLE?

![image](https://user-images.githubusercontent.com/3708366/144860549-ae6dd0e3-e982-48fe-b5ae-03402d25e3fc.png)

Another thing I am seeing is that you're using the member-styled paths on your `/INCLUDE` statements. It won't like that.. got to think about how to support those

[2021-12-06 14:29] SpiderEkb commented on #20
@worksofliam bingo! The problem was in language mode. For some reason, I had RPG language mode set for these files. Forcing RPGLE language mode for .rpgle and .sqlrpgle files helped - now everything works correctly.
Thank you so much for your work and for the tip.

[2021-12-06 14:30] worksofliam commented on #20
@SpiderEkb Excellent!! Next step is better support for your include statements using the member style path.

[2021-12-06 14:36] SpiderEkb commented on #20
@worksofliam With this, everything is complicated. I do not have a permanent connection to the IBM i server (for some reason the plugin cannot establish it, possibly because SSH is closed on our server, ACS is working, but the plugin is not connected). Therefore, there is no access to Copysource members from VSCode
![ALFAMOSVPN](https://user-images.githubusercontent.com/29450542/144864885-9f507389

[2021-12-06 14:42] worksofliam commented on #20
@SpiderEkb Got that part.. do you have those sources on your local machine in the workspace?

[2021-12-06 14:45] AjaykulkarniIBMi commented on #22
![CleanShot 2021-12-06 at 08 42 10](https://user-images.githubusercontent.com/37787504/144865992-27f01da8-15f6-4b47-91d9-1949a9525cd1.png)
![CleanShot 2021-12-06 at 08 44 26](https://user-images.githubusercontent.com/37787504/144866287-afb74a96-6750-4220-bd49-05fb2ce3fb00.png)
![CleanShot 2021-12-06 at 08 45 00](https://user-images.githubusercontent.com/37787504/144866345-5d056151-1473-438b-92bb-4

[2021-12-06 14:46] worksofliam commented on #22
@AjaykulkarniIBMi What is the language type of your source? RPG or RPGLE?

Language type is not the same as extension.

[2021-12-06 15:00] AjaykulkarniIBMi commented on #22
oh man, you are right...
sorry for not checking that...

are you planning on making a video or article on lint/outline etc?

[2021-12-06 15:00] #22 closed

[2021-12-06 15:02] worksofliam opened #24 "Linter filter support for local machine"

[2021-12-06 15:06] AjaykulkarniIBMi opened #25 "Code completion + linter"
Maybe I am doing something wrong. When I do a DO it auto completes, however, the linter is given the wrong indentation on it.

![CleanShot 2021-12-06 at 09 04 10](https://user-images.githubusercontent.com/37787504/144869666-731432e4-6ffd-4077-85b3-74d990893282.png)
![CleanShot 2021-12-06 at 09 05 35](https://user-images.githubusercontent.com/37787504/144869847-70510bf1-e15e-42f1-a415-eddc51e1e176.

[2021-12-06 15:10] worksofliam commented on #25
I take it you have the linter enabled in the settings. The errors are correct there.

Do you have an existing rpglint.json file somewhere? Use this command to open up the lint configuration file it is using.

![image](https://user-images.githubusercontent.com/3708366/144870557-aa62253c-1eab-4f7b-a555-6bfb95239d73.png)

[2021-12-06 15:13] worksofliam commented on #25
Also, read these notes on the linter: https://github.com/halcyon-tech/vscode-rpgle#linter

[2021-12-07 08:19] SpiderEkb commented on #20
@worksofliam unfortunately, I was forced to disable the plugin due to the fact that it causes a very large lag when pressing any key when typing code in RPGLE files :-(

[2021-12-07 12:59] worksofliam commented on #20
@SpiderEkb how big was your file? I can work on that

[2021-12-07 18:08] #24 closed

[2021-12-07 18:10] worksofliam commented on #20
@SpiderEkb I just released 0.0.9, which adds some minor performance improvements. The linter no longer runs on every change, and will only lint/parse after you've stopped typing for a couple of seconds.

Also, if you could provide me with the length of your file, that'd be great for my testing.

[2021-12-07 20:44] worksofliam opened #26 "Support for finding RPGLE fixed-format defintions"

[2021-12-08 04:21] SpiderEkb commented on #20
@worksofliam the file is very small:

`**FREE
  //  *C  DBGVIEW(*COPY)
  //  *-------------------------------------------------------------------------
  //  *              System Name - EQUATION
  //  *              Module Name -
  //  *
  //  *             Program Name -
  //  *            Program Title -
  //  *
  //  *  Входные параметры:
  //  *
  //  *L                   Level -
  //  *
  //

[2021-12-08 04:22] worksofliam commented on #20
@SpiderEkb lovely. Thanks for sharing. Let me have a play with that and see what improvements I can make!

[2021-12-08 04:26] SpiderEkb commented on #20
@worksofliam still there is a lag. And he's annoying. The lag is not constant as in the previous version. It appears periodically.

[2021-12-08 06:27] SpiderEkb commented on #20
@worksofliam Still, the lag remains and quite unpleasant. Hinders work.
If it matters. Windows 10/64
AMD Athlon 300U 2.4 GHz 2 Cores 4 Threads
16Gb RAM 512Gb SDD

[2021-12-08 20:38] worksofliam commented on #20
@SpiderEkb Good evening. I have released 0.0.10 which may solve this issue. I was able to recreate it.

[2021-12-09 06:23] SpiderEkb commented on #20
@worksofliam thanks, at first glance everything looks much better.

[2021-12-10 07:30] SpiderEkb commented on #20
@worksofliam I can say with almost complete confidence that everything is working well now. Lags are not noticeable.

[2021-12-13 17:29] SJLennon opened #27 "Name on end-proc/end-pi"
A name is optional, but the linter thinks it is a procedure call.  As in lines 6 and 12 below:

![image](https://user-images.githubusercontent.com/67484051/145858937-cf73c4b2-1064-4c85-a880-865b075da9b3.png)

Also the indentation warning on line 10 seems wrong.

Is there are way to turn off  "Expressions must be surrounded by brackets.", as on line 8?  What's the rational of requiring this on a si

[2021-12-13 21:52] SJLennon commented on #27
Here's the code:
[code]
And the rpglint.json, which was created 12/09/2021:
[code]

[2021-12-14 16:23] worksofliam commented on #27
@SJLennon On your line 10, I would check they are spaces and not tabs (or another character).

![image](https://user-images.githubusercontent.com/3708366/146037966-1fa71dad-ce02-47ee-ae17-a36bcc74d3c2.png)

Otherwise, this is mostly valid - I just need to add not check after the End-X.

[2021-12-14 16:57] worksofliam commented on #27
@SJLennon I just release 0.0.11. I also added a unit test case for this! Thanks

[2021-12-14 16:57] #27 closed

[2021-12-14 21:08] SJLennon commented on #27
That has fixed the lines 6 and 12 errors.  Thanks.

(The line 10 indention error went away before this fix went in.  A bit of a mystery.   I suppose there might have been a tab there that went away after I saved it and later reopened it.)

@worksofliam

[2021-12-14 21:18] SJLennon opened #28 "Duplicate id declaration: '#/properties/UppercaseConstants'"
Don't know if this is significant, but I get the above in the Problem tab when I create a new RPGLINT.JSON.
![image](https://user-images.githubusercontent.com/67484051/146080554-a65a9ffc-b6af-4eb2-9c0e-c9c615b27aba.png)

[2021-12-14 21:52] SJLennon opened #29 "Need to restart VSCODE to make the Linter active."
I did not have an RPGLINT.JSON file.
I started VSCODE.
I opened an RPGLE **FREE member.  No errors are reported.
I used F1 and Open RPGLE lint configuration and created a RPGLINT.JSON.
I get the "Duplicate id declaration" in problems.  (not sure if this is significant).
I switched back to the tab with the RPGLE code.   Line 4 and line 9 should have errors but none show.
![image](https://user-image

[2021-12-14 22:01] worksofliam commented on #29
Right! I understand the error.

The issue:

1. Open some RPG. See no errors because rpglint.json does not exist.
2. Create rpglint.json (using the command palette option, which then opens the new file)
3. Switch back to RPG and the warnings still are not appearing.

I will fix this. The work around is to force save the rpglint.json file after it's been created and it will work as expected then.

[2021-12-14 22:01] worksofliam commented on #28
Got the same. Looking into it.

[2021-12-14 22:07] worksofliam commented on #29
I am about to release 0.0.12 which should solve this issue.

[2021-12-14 22:18] SJLennon opened #30 "Question: Expressions surrounded by brackets"
Why does an expression with a single condition need to be surrounded by brackets?
For example:
[code]
It makes sense if there is more than one condition, especially if there is and/or logic, for example:
`        if a ='/' or a = '&' and b = ' ';
`

It would make sense in expressions like this but it **doesn't** complain about them:

`    wkDisc = iCost*stdDisc/100;`

Finally, is there an option i

[2021-12-14 22:21] SJLennon commented on #29
Will test it again with 0.0.12.

[2021-12-15 02:04] SJLennon opened #31 "Enhancement: Procedures should not access Globals"
Subtle error can be introduced if a sub procedure accidentally refers to a global definition when it should be referring to a passed parameter or a local variable.
In the (contrived) code below, there is a typo bug 4 lines from the bottom at  << Error here <<.  StdDsc should really be StdDisc.  The program still compiles and runs, but gives incorrect results in some cases.

It would be neat if Lin

[2021-12-15 02:08] #29 closed, assigned to worksofliam

[2021-12-15 02:09] SJLennon commented on #28
Problem gone.
@worksofliam

[2021-12-15 02:09] #28 closed

[2021-12-19 02:34] worksofliam commented on #30
This exists to format the language much like other languages, like C, C# or JS/TS, where brackets are required after the `if` or other conditional statement.

[2021-12-19 02:34] #30 closed

[2021-12-19 02:35] #25 closed

[2021-12-22 22:30] worksofliam commented on #21
No quick fix as such, but now you can use the 'Fix all auto-fixable problems' command and it will fix them all!

What do you think of that @SJ?

[2021-12-22 22:30] worksofliam commented on #16
Done as of 0.2.0

[2021-12-22 22:30] #16 closed

[2021-12-22 22:33] worksofliam commented on #14
@priceaj Looking at this. I think instead of saying 'use X over Y' we should just say 'Y' is deprecated.

What do you think?

[2021-12-22 23:18] priceaj commented on #14
Not sure because if someone uses sqlcod as a matter of course but doesn't know what to use instead they would have to look up what to use instead

[2021-12-22 23:20] priceaj commented on #14
Could you say "X is deprecated in favour of Y"?

[2021-12-23 03:30] worksofliam commented on #14
@priceaj Sounds good to me. Other than the document you linked, are there any other docs we could link to in the extension?

[2021-12-23 03:34] worksofliam commented on #19
Well, this one gets a bit tricky.. because what if it's a service program? Perhaps this should only warn for procedures when they're not used and they're not export procedures.

[2021-12-23 04:10] worksofliam commented on #8
This one is nice

![image](https://user-images.githubusercontent.com/3708366/147186722-ad96d95a-c04d-480a-a72d-c02f3ea76574.png)

[2021-12-23 04:22] worksofliam commented on #8
And covering @bmorris1's example of using `*CTDATA`

![image](https://user-images.githubusercontent.com/3708366/147187546-f3a847f5-6c56-4009-9b25-666f3e2d1263.png)

[2021-12-23 04:24] #8 closed

[2021-12-23 04:37] worksofliam opened #33 "Auto import for system APIs"
I just found this wiki page has loads of free format prototypes. I'd somehow like to automatically import it if the user accepts the content assist?

https://wiki.midrange.com/index.php/Category:RPG_Prototypes

Would love some thoughts

[2021-12-23 04:40] worksofliam commented on #33
Perhaps this could easily be done with snippets?

[2021-12-23 09:20] priceaj commented on #14
Maybe this https://www.ibm.com/docs/en/i/7.4?topic=codes-sql-message-finder

[2021-12-23 09:34] priceaj commented on #14
There isn't a perfect 1-1 mapping between the two, SQL state is a bit more descriptive.

[2021-12-23 09:34] priceaj commented on #19
Yeah that's a good call

[2021-12-23 16:12] SJLennon commented on #21
It certainly cleaned up a lot of stuff when I used it on an old program!  Though I haven't extensively tested it.

My one gripe is that Ctrl+Z seems to remove changes one line at a time.  I think it would be nice if Ctrl+Z could reverse all the changes.
@worksofliam

[2021-12-29 16:37] worksofliam opened #34 "Brackets shouldn't be required"
![image](https://user-images.githubusercontent.com/3708366/147684224-efc3fe4a-5965-4f24-9fc2-9576ec089839.png)

[2021-12-29 22:16] #34 closed

[2022-01-04 13:18] davidknittle opened #35 "END-PI emitted before DCL-PI"
When i Convert an entire program to fully free format, the D spec conversion for my procedure comes out with the END-PI before the DCL-PI.

[2022-01-04 13:20] davidknittle opened #36 "Quick fix for indentation causes lint issue with DCL inside PRocedures"
I used the auto-convert to convert an entire program that was mixed format. the D specs were in column format. After conversion, i used quick fix to fix the LINT indent errors, and the DCL statements _inside_ the procedure all were indented at 0 and cause a LINT error. I moved them to position 4 and the LINT message went away

[2022-01-06 14:44] davidknittle opened #37 "After conversion to **FREE, quick fix of indent deletes position 1-5"
We use positions 1-5 currently for mod marks, tied to a mod number in the header. when i convert an RPG to **FREE, these marks are just deleted. Would it be possible via a setting or something to move them to the end of the source line as a // comment or something. we are still trying to determine our rules for mod marking in **FREE code, and this is kind of how we are leaning.

[2022-01-06 14:49] worksofliam commented on #37
@davidknittle

I think you're describing an issue with a different extension.

It might be worth raising an issue on that repo: https://github.com/BrianGarland/vscode-rpgfree

I will close this for now.

Liam

[2022-01-06 14:50] #37 closed

[2022-01-06 14:55] worksofliam commented on #36
@davidknittle Can you share a sample before you do the quickfix so I can recreate the issue?

[2022-01-06 14:56] worksofliam commented on #35
Another conversion issue.

[2022-01-06 14:56] worksofliam commented on #35
https://github.com/BrianGarland/vscode-rpgfree

[2022-01-06 14:56] #35 closed

[2022-01-07 09:57] AndyYouens opened #38 "RPG Lint configuration error"
**Describe the bug**
Opening the RPGLE Lint configuration produces an error

**To Reproduce**
F1 - RPGLE Open RPGLE lint configuration

**Expected behavior**
To see lint config

**Screenshots**
![2022-01-07_09-51-39](https://user-images.githubusercontent.com/20203631/148526677-b3da0427-4d35-4073-b247-ca4d8de2b410.png)

**Environment (please complete the following information):**
 - Extension versi

[2022-01-07 15:47] worksofliam commented on #38
@AndyYouens

1. What type of file are you trying to create a lint config for? Member, streamfile or local file?

[2022-01-07 16:55] AndyYouens commented on #38
@worksofliam

Member - rpgle

[2022-01-07 18:15] worksofliam commented on #38
@AndyYouens what is the name of the library and source file for the member?

[2022-01-08 09:58] AndyYouens commented on #38
@worksofliam

get the same error with stream files, source files & local files.  Error as in figure above

[2022-01-09 14:28] worksofliam commented on #38
@AndyYouens After the error has occurred, can you check these 5 output channels for any error logs?

![image](https://user-images.githubusercontent.com/3708366/148686596-b98123c0-83a5-44da-8030-8767edfcdb7c.png)

[2022-01-09 17:35] JamesBrianHill opened #39 "Add ON-EXIT to indentation rules in linter.js"
Requesting the addition of `ON-EXIT` to indentation rules in linter.js.  At the time I'm submitting this request (2022-01-09 @ 12:34pm EST), that would be line 622.

Current:
if ([
            `IF`, `ELSE`, `ELSEIF`, `FOR`, `FOR-EACH`, `DOW`, `DOU`, `MONITOR`, `ON-ERROR`, `BEGSR`, `SELECT`, `WHEN`, `OTHER`, `DCL-PROC`, `DCL-PI`, `DCL-PR`, `DCL-DS`
          ].includes(opcode)) {

Proposed:
if ([

[2022-01-09 17:56] worksofliam commented on #39
@JamesBrianHill

Feel free to do either of these:

* a PR to add this line. Though a new PR will also require you to make a test case for this too.
* Please share a code snippet that used `ON-EXIT` and I can do the change and create a valid test.

Thanks!
Liam

[2022-01-09 18:32] JamesBrianHill commented on #39
Code snippet:

[code]

[2022-01-09 19:08] worksofliam commented on #39
Looking good. Will be out in an upcoming release.

[2022-01-09 19:08] worksofliam commented on #39
![image](https://user-images.githubusercontent.com/3708366/148696936-a62e0f0b-b6ec-4376-9000-dc392d9ae9af.png)

[2022-01-09 19:10] #39 closed

[2022-01-09 20:33] #21 closed

[2022-01-10 12:12] pabloto opened #40 "Incorrect indentation problem into Select"
Hi,

last update tell me than a comment before a when into a select block give me this error, while last week no, Could you check?

Many thanks.

![image](https://user-images.githubusercontent.com/9719313/148764209-229c402d-7e30-4c93-8655-5019f41666d8.png)

[2022-01-10 12:18] bmorris1 commented on #39
Would those rules always give a warning about ON-EXIT not being indented? If so, I think there should be an option about ON-EXIT.

Me, I think ON-EXIT should be at the same indentation level as DCL-PROC and END-PROC,

[2022-01-10 12:30] bmorris1 commented on #39
But for sure, code following ON-EXIT should be indented one level higher than ON-EXIT.

[2022-01-10 14:07] worksofliam commented on #40
@pabloto Send me over a code snippet so I can test it please :) Thanks!

[2022-01-10 14:12] worksofliam commented on #39
@bmorris1 Maybe so. I actually like the way @JamesBrianHill provided it because it is part of that procedure and my brain easily associates it when the indentation is higher than the end-proc.

[2022-01-10 14:31] #18 closed

[2022-01-10 19:34] worksofliam commented on #38
@AndyYouens Were you able to take a look at the above?

[2022-01-10 19:36] AndyYouens commented on #38
@worksofliam Sorry forgot,  will get them tomorrow.

[2022-01-10 19:36] worksofliam commented on #38
@AndyYouens No problem. Appreciate it!

[2022-01-10 23:10] pabloto commented on #40
Until last update it don't give indentation error.

[2022-01-11 00:09] Code1109 opened #41 "Linter not working"
**Describe the bug**
I installed the linter to my VSC and followed the instructions, but is not 'marking' where the errors are happening in a **FREE source and I think it's because the JSON when written into the iSeries is not recognizing the {} like this:

**This is when I open the linter on VSC**
<img width="354" alt="Screen Shot 2022-01-10 at 5 40 23 PM" src="https://user-images.githubuserconte

[2022-01-11 01:20] worksofliam commented on #40
@pabloto That is because it now lints comment indentation! That comment actually belongs to the `when` clause above it.

Clean example:

[code]

[2022-01-11 01:20] worksofliam commented on #41
Here is what the setting looks like. It must be enabled.

![image](https://user-images.githubusercontent.com/3708366/148864586-05bd465c-a1e6-4d31-b9e4-9dc0b9389325.png)

[2022-01-11 03:57] Code1109 commented on #41
Yes, but I do see that mine has 2 check marks one for free RPG and the other one. for fixed format RPG I did uncheck the fixed one and retried but still doesn't work, the json in the iseries still has invalid char instead of the curly brackets
<img width="774" alt="Screen Shot 2022-01-10 at 9 46 26 PM" src="https://user-images.githubusercontent.com/5393171/148878783-b28524bd-6604-4998-955b-4da4800

[2022-01-11 04:02] Code1109 commented on #41
BTW the VSCODE source file member RPGLINT is a JSON type:
<img width="537" alt="Screen Shot 2022-01-10 at 10 00 53 PM" src="https://user-images.githubusercontent.com/5393171/148879142-e4c14952-2a56-44ac-83e8-e6b08bf286de.png">

[2022-01-11 08:28] AndyYouens commented on #38
@worksofliam Logs attached.  Let me know if I can help any further.

[window.txt](https://github.com/halcyon-tech/vscode-rpgle/files/7844849/window.txt)
[main.txt](https://github.com/halcyon-tech/vscode-rpgle/files/7844850/main.txt)
[shared.txt](https://github.com/halcyon-tech/vscode-rpgle/files/7844851/shared.txt)
[Settings Sync.txt](https://github.com/halcyon-tech/vscode-rpgle/files/7844852/Sett

[2022-01-11 14:13] worksofliam commented on #41
@Code1109 Will you share a snippet of code that it is not working with?

Thanks!

[2022-01-11 14:35] Code1109 commented on #41
GM @worksofliam here is the snippet, and BTW great YT videos I've been updating myself on VSC with you videos. thank you
<img width="414" alt="Screen Shot 2022-01-11 at 8 32 45 AM" src="https://user-images.githubusercontent.com/5393171/148962548-0fecf6fd-93be-41ef-9ce0-7a8b93504fa8.png">

[2022-01-11 14:37] worksofliam commented on #41
@Code1109 As of right now, the linter does not point out incorrect variable names. This is something that might happen in the future. Do indentation errors appear when you use `IF`, etc?

[2022-01-11 14:38] worksofliam commented on #38
@AndyYouens I've added a new output channel.

1. Update to 0.3.2
2. Open output channel
3. Try and use the command to open the lint config
4. Check and share the output channel content here

![image](https://user-images.githubusercontent.com/3708366/148963106-45ec69c9-c76e-4bda-b8db-de54c5fde4ab.png)

[2022-01-11 14:41] Code1109 commented on #41
@worksofliam ahhh sorry about that mate, and to confirm yes the indentation, if, constants does 'lint' them...

[2022-01-11 14:41] worksofliam commented on #41
@Code1109 No problem! Thanks for using it!

For the time being, we really are only linting what is available in the lint configuration.

[2022-01-11 14:42] #41 closed

[2022-01-11 14:42] worksofliam commented on #40
@pabloto Plan is to make 'comment indentation' a configurable lint option, with `false` by default.

[2022-01-11 15:58] AndyYouens commented on #38
@worksofliam please see below.

![image](https://user-images.githubusercontent.com/20203631/148976895-ebfab19a-02f1-4771-ab2e-6a91ca0ad0ac.png)

[2022-01-11 15:59] worksofliam commented on #38
@AndyYouens Perfect. I can see the issue. I will get back to you.

[2022-01-11 15:59] worksofliam commented on #38
@AndyYouens That is for the local machine right? Can you share the output for members and IFS too? If you have the time

[2022-01-11 16:02] worksofliam commented on #38
@AndyYouens Cool - looks like member is working but the issue is with local files. I will get this fixed

[2022-01-11 16:19] worksofliam commented on #38
@AndyYouens 0.3.3 is out now. Please give that a go.

[2022-01-11 16:43] AndyYouens commented on #38
@worksofliam looks good for local too!

![image](https://user-images.githubusercontent.com/20203631/148984515-f5aed24b-be56-46f9-9dfd-e29b65995864.png)

[2022-01-11 16:51] worksofliam commented on #38
@AndyYouens - awesome! I am going to go ahead and close this.

[2022-01-11 16:51] #38 closed

[2022-01-11 23:45] Code1109 commented on #41
@worksofliam Hi, want to ask you if I can email you some questions about the video 'Code for IBM i: RPGLE with git, make, and lint', thanks, if so please email me your email to peztoro@gmail.com

1000 thanks!

[2022-01-11 23:46] worksofliam commented on #41
Hey @Code1109!

I don't generally post my email here. Your best bet is to reach out to me on LinkedIn or Twitter for any private communication. I can get you my email then!

[2022-01-20 08:48] chrjorgensen opened #42 "Publish to Open VSX - like vscode-ibmi..."
Hi Liam.

You made the [publishing of Code for IBM i extension to Open VSX work](https://github.com/halcyon-tech/vscode-ibmi/issues/126) - can we have this extension as well? Please? 🥲

And maybe the other extensions which adds functionality to the Code for IBM i extension?

Best regards,
Christian

[2022-01-20 13:43] worksofliam commented on #42
Hey @chrjorgensen yup - I can do that soon :)

[2022-01-21 18:11] worksofliam opened #43 "Lint rule to convert global subroutines into procedures"

[2022-01-23 18:50] #40 closed

[2022-01-23 18:51] #36 closed

[2022-01-23 19:53] #43 closed

[2022-01-23 19:57] worksofliam commented on #31
I just noticed.. this has already been in for a while but doesn't have a unit test. I will create one.

![image](https://user-images.githubusercontent.com/3708366/150695783-bc607557-2b05-483a-87a1-bd30feb333f8.png)

[2022-01-23 20:01] #31 closed

[2022-01-23 20:18] worksofliam commented on #42
@chrjorgensen Done and done :D

[2022-01-23 20:18] #42 closed

[2022-01-23 20:50] worksofliam commented on #13
Been thinking about this. Quite a lot to think about. One case I can think would be tricky is if a parameter gets passed into another procedure, and it's passed by reference and changed inside of it.

[2022-01-23 21:31] priceaj commented on #13
I think you have to assume that if its not passed as a constant in the PI then it will be changed in the underlying procedure. This is fine though as *Eventually* you will get to the bottom of the stack and where the variable is not changed it will suggest it to be a CONST... then the procedure above will do the same... until we get back to the top level

[2022-01-23 21:32] priceaj commented on #13
i.e. if a variable can be changed assume it will be changed

[2022-01-23 21:33] worksofliam commented on #13
Yup that makes sense! Unless the linter has the prototype and then we can tell if it's ref/const/value!

[2022-01-23 21:40] priceaj commented on #13
Yeah although the PI/PR have to be aligned right?

[2022-01-23 21:47] priceaj commented on #13
Ignore that I see what you are saying, yeah I think you need to look at the prototype for the called procedure, failing that you will need to look at the interface if its in the same source and a prototype is not declared

[2022-01-23 21:59] priceaj commented on #13
Thinking about it, I think we also need to hope no one actually uses overloading!! Because then you have to match a signature of the call to one of the overloaded procedures (I'm not entirely sure what the rules are for this as I've never actually used it!)

[2022-01-23 22:07] worksofliam commented on #13
Good share - forgot about that completely!

[2022-01-23 23:13] chrjorgensen commented on #42
You rock! 👍

[2022-01-24 04:18] worksofliam opened #44 "Implement find references for variables and procedures"

[2022-01-24 04:19] worksofliam commented on #19
Plan is to add something like this but only check if it's not using `NOMAIN` in the options.

[2022-01-24 05:02] worksofliam commented on #44
![image](https://user-images.githubusercontent.com/3708366/150724854-30f52fb6-c476-48ec-806b-a275ba4c52ca.png)

[2022-01-24 05:04] worksofliam commented on #44
![image](https://user-images.githubusercontent.com/3708366/150725103-98c0cfe0-fb59-4ca6-ba8a-958dae381fe7.png)

[2022-01-24 05:07] #44 closed

[2022-01-24 07:07] priceaj commented on #19
We have standard headers in copy sources depending on which type of program it is. E.g. service program, program

Will the linter be able to see that copy source?

[2022-01-24 13:54] worksofliam commented on #19
@priceaj Yes :D The linter is already pulling in included sources into consideration! You can test it with things like 'Go to definition' on a procedure and it should take you to the PR :)

[2022-01-24 23:26] worksofliam opened #45 "Convert elseif chain to select/when"
Cool idea

[2022-01-25 21:21] worksofliam opened #46 "Fetch DCL-F fields"
For the content assist

[2022-01-26 18:03] SJLennon opened #48 "Keeping up with Lint configuration options"
(This is not a complaint--I understand this is an evolving extension.)

I have trouble keeping up with new configuration options. Today I saw someone else's RPGLINT.JSON and discovered he had options I didn't know about.

So I renamed my RPGLINT.JSON to RPGLINTOLD.JSON, restarted VS Code and had it create a new RPGLINT.JSON. Now I can run a compare, see the new options and the one's I have changed

[2022-01-26 20:20] worksofliam commented on #48
@SJLennon Yes, this is a struggle. Right now, the best is to check the [official schema](https://github.com/halcyon-tech/vscode-rpgle/tree/main/src/schemas), but also the `RPGLINT.JSON` can be prompted on and you can see the available options right within VS Code.

E.g. go to add a new prop and you will see the available options.

[2022-01-26 20:21] worksofliam commented on #48
@SJLennon Yes, the configuration has been changes so you can disable the linter but keep the content assist enabled.

See the RPGLE language tools settings in the VS Code settings.

[2022-01-26 20:26] #26 closed

[2022-01-26 20:26] #46 closed

[2022-01-27 14:45] worksofliam opened #49 "No variable names with special characters in"

[2022-01-28 03:19] worksofliam opened #50 "Use VS Code cache instead"
Instead of using custom cache mechanism, look into using openTextDocument instead.. which looks like it may provide it's own cache..?

[2022-01-28 13:59] worksofliam opened #51 "RPGLE cli"
Parser and linter should also be a separate CLI tool and not be dependent on VS Code. Of course that means it will only work on local files.

[code]

[2022-01-28 18:47] worksofliam opened #52 "skipIndentCheck is config option"
Some people don't want indent checking. Make it on by default, and configurable to turn off.

[2022-01-28 20:09] #52 closed

[2022-01-29 16:52] #50 closed

[2022-02-02 14:48] pabloto opened #54 "Lint Qualified data-structure"
Hi,

a simple bug, a likerec Datastructure is implicity qualified,
so Could you remove the quick fix bug?

Many thanks.

![image](https://user-images.githubusercontent.com/9719313/152176931-e8c5d5ff-d3e8-440d-9655-92f5d34e6885.png)

[2022-02-02 14:50] worksofliam commented on #54
@pabloto

I can get a fix done for this.

Would you mind sharing the code snippet here so I can make a unit test out of it too?

[2022-02-02 16:36] pabloto commented on #54
@worksofliam perfect. it works

[2022-02-02 16:36] #54 closed

[2022-02-02 20:47] m-tyler opened #56 "Support library list when using include directives"
Not absolutely a bug and isn't a feature ask but a need to make this extension more widely available.

**Describe the issue**
I am seeing a lot of QSQSRVR logs generated during the day.  Many,  messages are errors related to using the ALIAS to get source data.  Looking over the command to create the alias' it defaults to using the library specified in the connection parameters.   I see a string li

[2022-02-03 00:33] m-tyler opened #55 "Lint giving errors"
I am not certain how to set this indent validation or even turn it off.
#1
I get this error "Incorrect indentation. Expected -4, got 0" with this perfectly legal code to IBM compiler and RDi. (I don't know why the END_DS lines are there but its allowed).
`//  Data structures
/Copy Qcpysrc,Dspgminf4
  End-ds;
/Copy Qcpysrc,Dateutl.Ds
  End-ds;`
But this begins a massive lint error reporting through

[2022-02-03 00:48] worksofliam commented on #55
@m-tyler

### 1

Oh... so your copybooks actually look something like this?

[code]

Then your base looks like this:

[code]

That is seriously ugly stuff. We are linting based on current source. The linter does not expand the source.

### 2

Please share a source example where `**CTDATA` is used and I can get this handle for you.

### 3

Again, need you to share an example so I can recreate the i

[2022-02-03 01:09] worksofliam commented on #55
@m-tyler

### 1

Oh... so your copybooks actually look something like this?

[code]

Then your base looks like this:

[code]

We are linting based on the current source. The linter does not expand the source.

edit: after some thought, I likely won't work on changing this for a while. It will be something I work on when I have more time to do that!

### 2

Please share a source example where `**CT

[2022-02-03 01:11] worksofliam commented on #56
The best bet is to somehow utilise `RTVMBRD` with `*LIBL`

[2022-02-03 01:20] m-tyler commented on #56
[TEMP.RPGLE.txt](https://github.com/halcyon-tech/vscode-rpgle/files/7991089/TEMP.RPGLE.txt)

Also, note I found a source that I could replicate the problem but also has embedded DS'.

[2022-02-03 01:21] worksofliam commented on #56
@m-tyler Is this comment on the right issue? Was it meant for #55 ?

[2022-02-03 01:22] worksofliam opened #57 "Special comments"
* `//@rpglint-skip` - The next lines indent & rule check is skipped

[2022-02-03 01:23] m-tyler commented on #56
Wrong issue and I removed and put it on #55.

[2022-02-03 01:23] m-tyler commented on #55
[TEMP.RPGLE.txt](https://github.com/halcyon-tech/vscode-rpgle/files/7991096/TEMP.RPGLE.txt)

[2022-02-03 01:28] m-tyler commented on #55
These copy book DS' are fixed D-spec code.  I dont know why the programmer added them.
`// Data structures
/Copy Qcpysrc,Dspgminf4
End-ds;
/Copy Qcpysrc,Dateutl.Ds
End-ds;`
I have actually removed them going forward but they are still valid syntax.  Where it would work is if you wanted to add an additional field to the DS and the DS is a fixed format version.  Full free forms of DS' don't allow th

[2022-02-03 01:38] worksofliam commented on #55
@m-tyler Are you able to share an example where the +/- extenders are causing you issues?

For the 'end-ds' issue, the only way to get around it quickly is by adding silly hacks like allowing end-ds after an include, add a directive to skip a line or re-write some parts of the code. I am opting for the the middle option: #57

[code]

[2022-02-03 01:46] #57 closed

[2022-02-03 01:46] worksofliam commented on #57
Added

[2022-02-03 01:57] worksofliam commented on #55
I have tried to recreate it with no luck. I will wait to hear back from you @m-tyler.

![image](https://user-images.githubusercontent.com/3708366/152268613-be55d238-5545-4ba4-a298-dd8026fa0140.png)

[2022-02-03 02:05] worksofliam commented on #55
I have published 0.5.6, which has the new `@rpglint-skip` comment directive and the `**CTDATA` fix.

[2022-02-03 02:05] m-tyler commented on #55
I tried a new temp rpg member and I dont get the error either.  the code that does cause the errors is quite large.   However, I move all my SQL code to the left column and work out from there.   My statement is quite large and wont work in a view so I have to load it into source.
[TEMP.RPGLE.txt](https://github.com/halcyon-tech/vscode-rpgle/files/7991279/TEMP.RPGLE.txt)
If this source does not wo

[2022-02-03 02:10] worksofliam commented on #55
@m-tyler I loaded that member into a member also and cannot create the issue either.

![image](https://user-images.githubusercontent.com/3708366/152269787-a23f4a1e-533e-40ef-bb85-e78d5a101ce5.png)

[2022-02-03 16:10] m-tyler commented on #55
Wrap that code into a subroutine or sub-procedure.     Looking at the overall program levels I see that the parser is giving a correct report. I suspect that the new `@rpglint-skip` will solve this last issue.    I don't use leading spaces in situations like this because I want to use as much of the source line as possible to reduce the number of source lines used.

[2022-02-03 16:11] worksofliam commented on #55
@m-tyler Great! So what is the status of this issue?

[2022-02-03 16:33] m-tyler commented on #55
So what you have done so far is great, however for my code I only need to block out sections but it seems that the new comment directive stops the lint process from that point forward (perfectly okay as it stands).

So I guess the resolution for my issue is to have lint ignore continuation lines or have the new directive start and stop lint parsing.

I would mark this as a medium priority issue.

[2022-02-03 16:36] worksofliam commented on #55
@m-tyler Note that `// @rpglint-skip` only skips the next line. There is not a way to skip 'blocks' of code.

May I suggest to you to create a new issue with the specific details too? This issue was created with three issues, which isn't normally good for me tracking these things. I am going to close this one for now.

[2022-02-03 16:55] m-tyler opened #58 "Have RPGLint Parser ignore continuation lines"
Continuation lines are source constant text that wrap to additional source lines with either plus(+) or minus(-) character as the last character on the line.
`MyVar =' A text string that +
wraps to the next line.  But also +
has more wrapped lines in the source+
';`

If this above source is in the main line area, I receive no warning about spacing.  However, if I wrap that section in a control blo

[2022-02-03 17:04] worksofliam commented on #58
First step I need to is try to recreate it. Will post back when I gave.

[2022-02-03 17:09] m-tyler commented on #58
[TEMP.RPGLE.txt](https://github.com/halcyon-tech/vscode-rpgle/files/7996683/TEMP.RPGLE.txt)
This version causes the issue I am referencing.

[2022-02-03 17:25] worksofliam commented on #58
@m-tyler Thanks you!!

That is actually a valid error. Even if you use +/- extenders, the extended lines' indentation cannot be less than the indentation of the initial line. The point of the linter is to make sure the code is readable. While your code is valid code, it goes again indentation rules

Your example and the fixed example:

![image](https://user-images.githubusercontent.com/3708366/152

[2022-02-03 20:07] #58 closed

[2022-02-04 22:31] SJLennon commented on #48
That works, but I have to restart VS Code or disconnect and reconnect to make the settings change take effect,

Ideally, it would be nice to be able to toggle linting on or off without having to restart or disconnect.

@worksofliam

[2022-02-04 22:49] SJLennon commented on #48
Hovering helps, but...
I'm unclear what SpecificCasing casing is, and hovering doesn't explain it. I'm guessing from something else that I saw that maybe it is intended to require opcodes to be in a specific case. Though that seems extremely tedious to set up if that is the intended use and you wanted, say, all opcodes to be in uppercase.
Anyway, as a guess to test I added
`"SpecificCasing": [{ "d

[2022-02-07 09:56] SpiderEkb opened #59 "VSCode intermittently slows down after last update (03-FEB-2022)"
After the latest RPGLE language tools update, VSCode periodically starts to slow down for a while.
Usually this is due to changes in significant sections of the code (for example, copy - paste a block of code). If you look in the task manager, you can see that the consumption of processor resources at these moments increases sharply from "low" to "high" and "very high" for about a second - one and

[2022-02-07 13:22] worksofliam commented on #59
I'm sure it's to do with the changes to how we read files.

@SpiderEkb can you confirm with me again that this is when working with local sources?

[2022-02-07 13:28] SpiderEkb commented on #59
Yes, I work with local sources only.

Initially, two extensions that were updated last were suspect - Code for IBM i (updated 02-Feb-2022) and RPGLE language tools (updated 03-Feb-2022). Disabling one and the second showed that the problem is in the second, the first does not have such a noticeable effect.

[2022-02-07 13:56] pabloto opened #60 "Lint Qualified nested ds"
Hi,

I little bug like #54, if I define a ds like this:

`

Dcl-Ds DsChangingNodeRole Qualified;
  *n   Int(10)      Inz(0);
  *n   VarChar(20)  Inz('Primary Node');
  *n   Int(10)      Inz(1);
  *n   VarChar(20)  Inz('Backup node');
  *n   Int(10)      Inz(-1);
  *n   VarChar(20)  Inz('Replicate Node');
  *n   Int(10)      Inz(-2);
  *n   VarChar(20)  Inz('Changing Node');
  *n   Int(10)      Inz

[2022-02-07 14:22] worksofliam commented on #59
@SpiderEkb 0.5.7 has just been released. Will you have a go with that and let me know how it goes?

0.5.0 had a large change to how files were read and it looks like it needed a tune-up for local files.

[2022-02-07 14:36] worksofliam commented on #59
@SpiderEkb Great! I have to release 0.5.8 to solve an issue in our unit tests, so let me know if anything changes.

[2022-02-07 14:37] SpiderEkb commented on #59
Ok

[2022-02-07 19:29] worksofliam commented on #48
@SJLennon let me look into this today, though this should likely be in a seperate issue.

[2022-02-07 19:33] worksofliam commented on #48
@SJLennon Checked your JSON. You had your schema wrong.

![image](https://user-images.githubusercontent.com/3708366/152858757-0b59f109-22f7-4093-aca6-abd90af24d4c.png)

[2022-02-07 19:35] worksofliam commented on #48
I will change the schema later to make it so those errors show up, like this:

![image](https://user-images.githubusercontent.com/3708366/152859011-51de73bc-fa36-420b-897e-969b54d48c43.png)

[2022-02-07 21:19] worksofliam commented on #48
@SJLennon FYI I made a new release which will now show the error like above.

[2022-02-07 21:38] SJLennon opened #61 "Easily Toggle Linting On or Off"
I think it would be convenient just to be able to turn linting off temporarily while dealing with coding errors. It can be a bit intrusive, because "Clear Diagnostics" doesn't clear lint errors.

The current way is to go to RPGLE Language Tools and uncheck Rpgle Linter Support Enabled.

But I have to restart VS Code or disconnect and reconnect to make the setting change take effect,

Ideally, it w

[2022-02-07 22:01] SJLennon commented on #48
Not wishing to open a can of worms here, but what about casing of  builtin functions, e.g. , %DATE, %FIELDS, %XLATE and the like?

[2022-02-07 23:17] worksofliam commented on #48
Specific casing could absolutely be changed to support declare statements and built in functions.

[2022-02-08 07:05] SpiderEkb commented on #59
@worksofliam Unfortunately, the new version (which I updated today) works worse than yesterday - again the same problem with lags

[2022-02-08 12:45] worksofliam commented on #59
@SpiderEkb are you able to share a piece of code with me where you see the problem the worst?

I will look into this today.

[2022-02-08 13:02] SpiderEkb commented on #59
Weird. Now everything is working fine. I can't figure out what's wrong.
While I close the issue, I'll watch more.

[2022-02-08 13:02] #59 closed

[2022-02-09 15:09] worksofliam opened #62 "Content assist to support subfields"

[2022-02-09 15:44] worksofliam opened #63 "Stop fetching lint file if it doesn't exist the first time"
Then start again if the user creates one

[2022-02-09 21:03] #62 closed

[2022-02-09 21:31] worksofliam commented on #60
Fix out tonight

[2022-02-09 21:32] #60 closed

[2022-02-09 21:42] worksofliam opened #64 "Expand LIKEDS"

[2022-02-10 01:34] worksofliam commented on #64
Done

[2022-02-10 01:34] #64 closed

[2022-02-10 16:17] SJLennon opened #65 "Add default Casing to Linter"
It would be nice to specify default casing for various parts of the language. The default options would be:

1. *lower for lower case
2. *upper for upper case
3. *capitalized for the first letter is capitalized

For example, **opcodes**, where I want them to all be lower case, except for dsply and dou, which I want to be uppercase.
[code]
( An odd standard, but it is just to demonstrate the flexib

[2022-02-13 21:54] SJLennon commented on #65
Ummm.  You know the code, but I'm still of the opinion it would make more sense to have them separate.
(Nothing is difficult if you don't have to code it yourself 😃 )

[2022-02-15 17:42] pabloto opened #66 "Sql with CTE and lint"
Hi,

I have a very complex sqlrpgle that work with json, the LINT give me many errors like this:

<img width="617" alt="image" src="https://user-images.githubusercontent.com/9719313/154118370-56649e52-d80f-4b42-889f-412c7dda9e35.png">

but I didn't do a select * in my final select,  with many json_object and json_array it return to me only one row.

Is it possibile to check it?

Many thanks

[2022-02-15 18:37] Hadkins2 opened #67 "Linter stopped working unexpectedly."
Linter was working two days ago and stopped unexpectedly.  I checked all output items for errors and couldn't find any issues reported.

Today I uninstalled all of the Code for IBM i extensions and reinstalled.  No effect.

Finally found when I hovered over the gear to to get the version of RPGLE language tools to report this, 13 of these messages:

Activation time : 4ms
Uncaught Errors (13)
Canno

[2022-02-15 18:46] worksofliam commented on #66
@pabloto Sure. Please send me the full code snippet and i will take a look into it.

[2022-02-15 18:48] worksofliam commented on #67
Strange. So it crashes even before you open any code? Does it crash when you open a specific member? Are you able to share the code it crashed with?

[2022-02-15 20:03] Hadkins2 commented on #67
I think I may have found the issue.  But it is weird that it worked before.  If I comment out "/COPY" code that is not written as **FREE, the linter kicks in with no problems.  So I guess I just need to convert the copy code and all will be right in the world.

Thanks for prompting me to dig deeper.  I gave up trying to figure it out too soon.

Howard

[2022-02-15 20:04] worksofliam commented on #67
Strange! The linter should continue working even if you have a copybook that is not free format. I will see if I can find something out too later.

[2022-02-15 20:12] Hadkins2 commented on #67
Well now I am completely confused.  I put the copy books back in one at a time just to test which one kills the process.  The linter continued to work, but it is getting the uncaught exceptions again.

[2022-02-15 20:15] worksofliam commented on #67
@Hadkins2 Would you be willing to share the code? Sharing privately is an option too.

[2022-02-15 21:46] Hadkins2 commented on #67
I think I have found the issue.

In each of the copybooks, it appears the original programmer included comments in the copybook code, but didn't want to that carry into the source code of the program using it and used the /EOF compiler directive to make it stop reading the copybook.

Here is the offending copybook.

[code]

Some of the other copy books have /IF directives in them as well.  I put a

[2022-02-15 21:56] worksofliam commented on #67
@Hadkins2 Ha, great find! I will work on the `/EOF` support right now.

[2022-02-15 22:50] worksofliam commented on #67
Fix coming out in just a few minutes :)

[2022-02-15 22:58] pabloto commented on #66
Hi @worksofliam ,

here's a sample:

`
**free
Ctl-Opt  DftActGrp(*no)
  ActGrp(*StgMdl)
  StgMdl(*SNGLVL)
  Thread(*Concurrent)
  Option(*NoUnRef :*SrcStmt :*NoDebugIo)
  DatFmt(*Iso) TimFmt(*Iso)
  Debug(*Constants)
  AlwNull(*UsrCtl)
  DftName(TESTJSON)
  Text('Test Select with json table');
// ____________________________________________________________________________
Dcl-Pr DspLongMsg ExtPgm(

[2022-02-15 23:02] worksofliam commented on #67
@Hadkins2 GIve it a go in 0.6.2 and let me know.

[2022-02-15 23:22] worksofliam commented on #66
I would say this is a valid lint. The option is '`SELECT *` is not allowed in Embedded SQL.' and you have used `SELECT *`.

You might be better off disabling it.

[2022-02-15 23:22] #66 closed

[2022-02-16 06:09] pabloto commented on #66
Hi @worksofliam, you are wrong, have you try my snippets? It compile and run without any errors.

In this case select * is allowed, the result of my CTE is only one row.

[2022-02-16 17:29] worksofliam commented on #67
Hey @Hadkins2

Did you get to try this out yet?

Thanks!

[2022-02-16 17:49] worksofliam opened #68 "Stop ignoring template"

[2022-02-16 20:53] #68 closed

[2022-02-17 13:23] Hadkins2 commented on #67
Apologies for the delay.  I did get the update the next morning and it didn't resolve the issue.  There has to be something wrong with the copybooks and not the linter.  I made copies of the copybooks and removed everything but the actual code and it still was giving me issues.  I got in a sort of a time crunch and couldn't spend more time on it now.  I resolved my issue by copying the code from t

[2022-02-21 16:01] davidknittle opened #69 "Members of one file will not open"
I have a filter that shows all "Q" source files in a library
![image](https://user-images.githubusercontent.com/39630724/154989525-2505bb1e-a00a-42fd-a0cd-ed3eba18d65d.png)
Everything seems to work ok, EXCEPT QMAPLESRC... I can see the members ok if i open it, but no matter what i do the member will not start up the editor. I dont know if there is a log someplace i chan check, but i dont see any e

[2022-02-21 17:29] davidknittle commented on #69
It was a CCSID issue. the file was set incorrectly. I fixed it and it is working fine. Thanks for the help

From: barry ***@***.***>
Sent: Monday, February 21, 2022 11:07 AM
To: halcyon-tech/vscode-rpgle ***@***.***>
Cc: Knittle, Dave ***@***.***>; Author ***@***.***>
Subject: Re: [halcyon-tech/vscode-rpgle] Members of one file will not open (Issue #69)

CAUTION: This message originated from outsi

[2022-02-21 17:31] #69 closed

[2022-02-23 22:07] Justin-E-Taylor opened #70 "Lint local source"
The FAQ seems to say that local source should work.

Source members and IFS source lint, but opening an SQLRPGLE source member on my PC does not.  Is there some extra step I have to perform?

TIA

Windows
RPGLE language tools  v0.4.4  **Typo.  s/b v0.6.4**

[2022-02-23 22:22] worksofliam commented on #70
Hey @Justin-E-Taylor you should check you have 0.6.4 installed. 0.4 is a bit outdated.

[2022-02-23 22:23] worksofliam commented on #70
You will also need to create a .vscode/rpglint.json file. There is a command that can do that for you.

[2022-02-23 22:26] worksofliam opened #71 "Support qsys include paths on local sources"

[2022-02-24 00:07] #71 closed

[2022-02-24 14:52] worksofliam opened #72 "Outline view to include parameters and variables for procedures"

[2022-02-24 15:42] Justin-E-Taylor commented on #70
I mistyped the version.  I'm running v0.6.4.

I'm connected to IBMi, and I have my local source file open.  I run **RPGLE: Open RPGLE lint configuration** from the command palette, but it doesn't appear to do anything.  There's no linting in the source.  Where is the JSON file supposed to be created?  There's nothing in the local folder.

Thanks

[2022-02-24 16:00] worksofliam commented on #70
@Justin-E-Taylor Do you have a folder open or do you just have a local file open?

[2022-02-24 22:58] #70 closed

[2022-02-24 22:58] Justin-E-Taylor commented on #70
Bingo!

I opened just the file.  I opened the folder in VS and now I have linting.

[2022-02-25 03:00] worksofliam commented on #70
@Justin-E-Taylor Glad to hear it friend!

[2022-02-25 17:05] worksofliam opened #73 "Traditional outline view mode"
Configurable option to make the outline view more 'traditional' and to group like RDi does:

![image (3)](https://user-images.githubusercontent.com/3708366/155756728-abeefbee-b779-466a-a8c0-b944423943b0.png)

![image](https://user-images.githubusercontent.com/3708366/155756537-5321fa90-39db-457e-b3b9-d43e9fa50f7b.png)

[2022-02-25 17:08] worksofliam opened #74 "Support O specs."
Look for O and when there is a valid name, parse like a D spec since the columns are the same(?)

[2022-02-27 02:56] worksofliam commented on #74
I am basically parsing DDS when I start to do this

[2022-02-27 02:57] #73 closed

[2022-02-27 22:06] worksofliam commented on #65
BIFs, `dcl-*` and `end-x` are now supported.

This example you provided:

[code]

Would be defined like:

[code]

The list order matters here.

![image](https://user-images.githubusercontent.com/3708366/155901848-750cc251-37fd-4ab3-84fd-7d94ebb1d0d1.png)

I did not add support for `* capitalized`. It could be questioned about what this means for certain declarations. E.g. `Dcl-s` vs `Dcl-S`.  `*up

[2022-02-28 17:28] SJLennon commented on #65
@worksofliam Is this support in 0.6.7?
I ask because I added your example above to my RPGLINT.JSON and it doesn't seem to do anything.  If support is supposed to be in 0.6.7 I can provide more info.

[2022-02-28 19:14] worksofliam commented on #65
@SJLennon it sure it!

Feel free to paste your rpglint.json file also.

[2022-02-28 20:49] worksofliam commented on #65
Note to self, 0.6.7 tested and the following works:

[code]

<img width="876" alt="image" src="https://user-images.githubusercontent.com/3708366/156056426-d2574ab4-a366-40d2-b79c-b614c834e453.png">

[2022-03-01 03:27] SJLennon commented on #65
Well, that strange, it seems to be working now for me. I definitely checked earlier that I was on 0.6.7.  Don't know what I was doing wrong, something was odd that I can't explain. Sorry...
I'll create an issue for *opcode tomorrow.
@worksofliam

[2022-03-01 15:27] SJLennon opened #75 "Add Opcode Casing"
Add support similar to *BIF and *DECLARE for opcodes.
"Exec SQL" should probably be considered an opcode.

[2022-03-01 15:33] worksofliam commented on #75
Self note: `statement.js` needs a new matcher for `opcode`.

[2022-03-01 15:33] #67 closed

[2022-03-01 15:34] #63 closed

[2022-03-01 15:50] SJLennon commented on #73
I'm not all that familiar with outline view in VS Code. From what I can tell, it always appears in the side bar, if you have explorer open:
![image](https://user-images.githubusercontent.com/67484051/156201201-d0838713-796a-4c45-bcb4-7805a8ed202e.png)
I think it would be good to have it in its own tab, and become more like what RDi provides.
@worksofliam

[2022-03-01 17:30] SJLennon commented on #73
I figured it could be dragged, but was trying to drop it in with the editors.  Now I see it can be dragged to the panel.  Something new learned.

But providing an outline more like RDi would likely be beneficial to those with larger source members.

@worksofliam

[2022-03-01 17:52] worksofliam commented on #73
@SJLennon this idea was actually brought to me by someone else (that's how I got the photos!) and I actually think it's going to worked on by someone else (I've been helping them!)

[2022-03-02 16:55] Justin-E-Taylor opened #76 "Intermittent linting"
I have a local folder with 3 **free SQLRPGLE source members.  One lints fine.  The second never linted.  The third did at first, but stopped.

How do I determine what's keeping it from linting?

[2022-03-02 17:08] worksofliam commented on #76
Huh! There is an RPGLE language tools output channel. You could check there. I may use this as an excuse to log more information to it.

[2022-03-02 17:11] worksofliam commented on #76
@Justin-E-Taylor Does the outline view work for each of them? Or does it only work for the one?

[2022-03-02 17:21] worksofliam commented on #76
Later today I will add additional logging. In the meantime, feel free to share code here or with me privately and I can also look at those later today.

[2022-03-02 17:24] #65 closed

[2022-03-02 21:34] worksofliam commented on #76
@Justin-E-Taylor 0.6.8 is out with additional logging.

[2022-03-03 21:05] Justin-E-Taylor commented on #76
The two files that lint load the outline relatively quick.  The source that won't lint takes a very long time, but the outline does load (ofc, it's 2-4x the size of the other source files).

Here's the message from the RPGLE language tools log:

TypeError: Cannot read property 'type' of undefined
    at Function.getErrors (c:\Users\justin\.vscode\extensions\halcyontechltd.vscode-rpgle-0.6.9\dist\e

[2022-03-03 21:25] worksofliam commented on #76
@Justin-E-Taylor Any way you're able to share that source that's not working with me?

[2022-03-04 20:16] Justin-E-Taylor commented on #76
I'm afraid I can't share the source, even privately.  Sorry.

[2022-03-04 20:21] worksofliam commented on #76
@Justin-E-Taylor No problem. Your best bet is to try to recreate it in a new source and then pass it on. I am going to close this until then, but please re-open if you recreate it!

[2022-03-04 20:21] #76 closed

[2022-03-04 22:21] worksofliam opened #77 "Inlay hints"
Brand new to VS Code.

Where could we use them?

![image](https://user-images.githubusercontent.com/3708366/156849722-9249943e-88d4-4780-9609-d11c8e00be5a.png)

https://code.visualstudio.com/api/references/vscode-api#InlayHintsProvider

[2022-03-09 13:44] viruslogic opened #78 "Problem when checking the structure of a file defined with EXTDESC"
Hi @worksofliam. I have observed that when I have defined temporary files with an external description, Code for IBM i is not able to get the structure. It would be nice if when the file has an external description (EXTDESC), it would go to the list of libraries to check its structure.

![image](https://user-images.githubusercontent.com/10233590/157437843-f764b9bb-1743-4612-9ff2-77d886e90ef0.png)

[2022-03-10 02:45] SJLennon opened #79 "Extension Reports "Uncaught Errors (1)""
@worksofliam Extension stopped working.  I disabled all extensions except those related to Code for IBM i.
Then I noticed this, which might be the problem?
![image](https://user-images.githubusercontent.com/67484051/157577720-fd4276a4-f153-4b1a-90b9-45b9f5c14ee5.png)

Version: 1.65.1 (user setup)
Commit: 8908a9ca0f221f36507231afb39d2d8d1e182702
Date: 2022-03-08T02:06:27.846Z
Electron: 13.5.2
Chrom

[2022-03-10 02:46] worksofliam commented on #79
@SJLennon If you've a code sample I can take a look. Also don't check the `RPGLE language tools` output channel and share that here if you can.

[2022-03-10 02:57] SJLennon commented on #79
@worksofliam Ah, didn't know there was an output channel, but here it is:
![image](https://user-images.githubusercontent.com/67484051/157579421-0812669b-7a15-430c-8505-6e46d10be366.png)
I'll get you some source shortly.

[2022-03-10 03:07] SJLennon commented on #79
@worksofliam Source (Spacing all messed up because I was experimenting with spaces vs tabs to see if that made any difference, but it does compile.)

[code]

[2022-03-10 03:18] worksofliam commented on #79
@worksofliam Can you also share that copy book?

[2022-03-10 03:19] worksofliam commented on #79
@SJLennon Can you also share that copy book?

[2022-03-10 14:39] SJLennon commented on #79
@worksofliam  Commenting out the /copy fixes the problem.
Here's the source, in fixed form because it is used in other no **free code, and the compiler supports this.

[code]

[2022-03-10 21:18] worksofliam commented on #79
Due release!

[2022-03-10 21:18] #79 closed

[2022-03-22 20:25] SJLennon opened #80 "Indenting Comments in SELECT Block"
@worksofliam Not sure if this is a bug or a personal preference.  I have code as below.  I want the comment to align with the following WHEN statement, as this makes sense to me.
Line 58 is in error, because it is apparently wanting it to indent based on the SELECT.
Line 60, even if I move it after the WHEN it is still in error.
Thoughts? Am I missing something?

![image](https://user-images.githu

[2022-03-22 20:27] worksofliam commented on #80
Not a bug. Expected behavior. See #40 and set `PrettyComments` to `false`.

[2022-03-22 20:27] #80 closed

[2022-03-22 20:51] SJLennon commented on #80
Ah!  Apparently, I missed seeing that issue...
________________________________
From: barry ***@***.***>
Sent: Tuesday, March 22, 2022 4:27 PM
To: halcyon-tech/vscode-rpgle ***@***.***>
Cc: SJLennon ***@***.***>; Author ***@***.***>
Subject: Re: [halcyon-tech/vscode-rpgle] Indenting Comments in SELECT Block (Issue #80)

Not a bug. Expected behavior. See #40<https://github.com/halcyon-tech/vscode-r

[2022-03-26 22:27] p-behr opened #81 "Hover field definitions for packed database fields"
The on-hover field definitions for packed database fields isn't correct.

Database definition:
![image](https://user-images.githubusercontent.com/17951550/160258983-7263a906-0479-4db8-98fa-143c3740d715.png)

RPG program:
![image](https://user-images.githubusercontent.com/17951550/160258990-86f046a2-a111-41c3-bff7-0fdba364741d.png)

The zoned (numeric) database field was ok, and packed variables de

[2022-03-26 22:33] p-behr opened #82 "Feature request: Remove filtered problems from program source"
The problems in the program are marked right in the source code (which is rather handy!).
![image](https://user-images.githubusercontent.com/17951550/160259117-4749f3c7-a804-41ca-bfcd-c5e6655cd8f9.png)

Perhaps there's a way to remove the annotations from the source if the problems are being filtered?
![image](https://user-images.githubusercontent.com/17951550/160259135-816d2d48-19bd-4670-a2bd-34e

[2022-03-28 15:27] SJLennon commented on #82
@p-behr Have you tried using the Filter icon, per the help document: https://halcyon-tech.github.io/vscode-ibmi/#/?id=compile-errors.

[2022-03-28 15:59] worksofliam commented on #82
This is controlled by VS Code and not something the extension has control over. That's a shame because I like this idea.

[2022-03-29 16:30] JDubbTX opened #83 "Alias field names not being shown in outline view"
In the outline, short names are listed for a data structure that has the ALIAS keyword.  Should show the alias name instead.

![image](https://user-images.githubusercontent.com/56802156/160660789-e8bb3059-4b5f-44d1-bd68-20f1dbab6d66.png)

[2022-04-04 15:03] merhovon opened #84 "column assist for RPGLE fixed-format does not work"
I have the following setting active:

    "vscode-rpgle.rpgleLinterSupportEnabled": true,
    "vscode-rpgle.showFixedFormatOutline": true,
    "vscode-rpgle.rpgleLanguageToolsEnabled": true,

And as soon as I open a XXX.RPG file and I press shift + f4, nothing happens.

[2022-04-04 15:31] merhovon commented on #84
You are right, but it doesn't make sense.
Because RPGLE is mostly used for the Free format and only the old RPG applications also set the Fixe format.

[2022-04-12 16:00] worksofliam opened #85 "New rule to define required header"

[2022-04-20 22:59] m-tyler opened #86 "Receiving error in IBM i Output log 'CPD0074: Value 'REPORTSQLE' for FILE exceeds 10 characters.'"
I receive the error `CPD0074:  Value 'REPORTSQLE' for FILE exceeds 10 characters.` because this command is being run, `DSPFFD FILE(*LIBL/REPORTSQLERROR) OUTPUT(*OUTFILE) OUTFILE(ILEDITOR/RREP177272)`.

The problem looks to occur in parser.js -> fetchTables.

This would be a medium PTY for me but it does prevent to usage of some feature, although I don't know what looking at the output or code.

Th

[2022-04-21 02:54] worksofliam commented on #86
@m-tyler Are you able to share some f-specs which might be causing this error? That'd be handy. Thanks!

[2022-04-21 02:54] #84 closed

[2022-04-21 19:46] m-tyler opened #87 "Outline *IN variables."
Please outline *IN variables in RPG code.

We still do most of our UI work in 5250 and it would be nice to have these outlined.  Maybe, outline all *IN and indicate if the *IN is found in source.

Thanks, Matt

[2022-04-21 20:01] worksofliam commented on #87
@m-tyler can you provide an example of what you want it to look like at all?

[2022-04-21 20:11] worksofliam commented on #87
Thanks for sharing. I will see what I can do. My time allocated to working on VS Code stuff right now is low with paid work and real-life stepping up a bit.

[2022-04-21 20:16] m-tyler commented on #87
Yea, no problem.  Just an idea.  Low PTY for me.  If I had any clue how to help I would.

[2022-04-25 21:01] m-tyler opened #88 "Quoted file names in DCL-DS lines get parsed wrong"
**Describe the bug**
I am seeing this error a lot now.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Add line `Dcl-ds [YOURFILEDS] Extname('[YOURFILEHERE]':*Input) Qualified End-ds;`
2. I guess do something else
3. Look through the Code for IBM i log for the message ID CPD0014.

**Expected behavior**
Quoted names need to be parsed without the quote characters.

**Screenshots**

**En

[2022-05-04 20:34] m-tyler opened #89 "Parsing of copybook members with dots in the name"
**Describe the bug**
We have a few copybooks that have a dot in the name, DATEUTL.PR and DATEUTL.DS are two of the most used copybook.   I noticed that the log is showing it having trouble opening the member; it's not the correct member name.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a member with a dot in the name.
2. Open RPGLE source and add a line for the copybook member.
3.

[2022-05-06 17:12] m-tyler commented on #56
So an idea I had is for the product to utilize the EVFEVENTS data to collect the `actual` copybook members used. Since you cannot use QTEMP to work with I was thinking that ILEDITOR library could be used to run a mock compile, just to collect the FILEID entries from the EVFEVENT.

What I think this accomplishes is the reduced need to `try` to see if a copybook is actually located in a library.  I

[2022-05-06 20:53] m-tyler commented on #88
So I believe the line in src/languages/pparser.js `if (keywordValue.startsWith(`'`) && keywordValue.endsWith(`'`))` Is not taking into account the extra keyword elements like `:*INPUT`.

[2022-05-07 15:30] worksofliam commented on #88
Fix due out soon!

[2022-05-07 15:30] #88 closed

[2022-05-07 15:30] worksofliam commented on #86
Fix due out soon

[2022-05-07 15:30] #86 closed

[2022-05-07 15:53] #83 closed

[2022-05-07 15:53] worksofliam commented on #87
@m-tyler Can you provide a code sample for this at all?

[2022-05-07 16:02] worksofliam commented on #81
Fix out soon

[2022-05-07 16:02] #81 closed

[2022-05-08 00:41] m-tyler commented on #87
[code]

![image](https://user-images.githubusercontent.com/1353665/167276874-97f51fc7-8093-46b4-98e1-d6252769c811.png)

After activating CA.
![image](https://user-images.githubusercontent.com/1353665/167276881-721c4dd1-4134-4575-bf6e-175c9da2ddc0.png)

I hope this is what you were after.

[2022-05-08 00:42] worksofliam commented on #87
@m-tyler So really.. the outline just wants to outline any indicators that are used throughout the source code?

[2022-05-08 01:25] m-tyler commented on #87
I'm not a fan of *IN variables but we can't get away from them because of DSPFs.  There are alternatives to using *IN with DSPF but we still have them in the source.

[2022-05-13 18:26] p-behr opened #90 "Linter indentation: Conditional statement on multiple lines"
Conditional statements (IF, WHEN) that span multiple lines are marked as invalid indentation:
![image](https://user-images.githubusercontent.com/17951550/168342146-d51ca7f8-c405-4d3b-8ccb-baeb71acda4f.png)

Also, comments that precede the WHEN statement are considered part of the previous block and are marked as invalid:
![image](https://user-images.githubusercontent.com/17951550/168343961-05bc8a8

[2022-05-13 19:29] worksofliam commented on #90
Regarding comments inside a `when` block. There have been many issues over this and we couldn't come to an agreement. You will want to toggle `PrettyComments` to turn off indentation checks for comments.

[2022-05-17 15:29] SJLennon opened #91 "Linter Directive: "// @rpglint-skip" failure"
If I have code like this:
![image](https://user-images.githubusercontent.com/67484051/168847393-2015f974-06d7-4a9a-913f-817608c37c50.png)
And I want to ignore the linting in this case because *N data structures cannot be qualified, it throws off subsequent indentation checks:
![image](https://user-images.githubusercontent.com/67484051/168848195-9eb377e4-d7e8-47d2-95a7-08b797f1fd97.png)

Sample cod

[2022-05-29 21:52] worksofliam commented on #91
Looks like it's skipping the indent changes too. I understand the issue, so basically we want `// @rpglint-skip` to continue checking the indentation changes.

[2022-05-29 21:52] #90 closed

[2022-05-29 21:53] worksofliam commented on #89
What a fun bug! I will look into this.

[2022-05-29 21:54] worksofliam commented on #87
I am still not sure what the outline view should be showing. Would you be able to show me the outline view for the snippet you provided @m-tyler?

[2022-05-30 02:37] SJLennon commented on #91
@worksofliam
Yes, I think so: // @rpglint-skip would disable all linting on that line except for indention checking.
This is kind of an edge case I turned up when experimenting with linting.

Is there a way to turn off indention checking for a source member?  Like // @rpglint-noindentcheck.

[2022-05-30 14:07] worksofliam commented on #91
@SJLennon it is not currently possible to turn off indentation checking for a specific file.

[2022-05-30 21:30] SJLennon commented on #91
I **really** like the indentation feature.

Except when I'm inserting new code because it works faster than I can type of think and before I can get to the ; at the the line it nearly always has lit up the rest of the screen with indentation errors.  But I'm getting used to it...

[2022-05-31 21:31] m-tyler commented on #87
If "show me the outline view for the snippet" the VS Code outline its right below the code sample.
https://user-images.githubusercontent.com/1353665/167276874-97f51fc7-8093-46b4-98e1-d6252769c811.png

If "show me the outline view for the snippet" is from RDi, this is what the outline looks like in RDi.
![image](https://user-images.githubusercontent.com/1353665/171286382-7e416f05-14ef-4680-baea-815

[2022-05-31 22:58] worksofliam commented on #87
Correct. The outline view will only show definitions.. but let me see what I can do to make 'show all references' work for indicators.

[2022-05-31 23:23] worksofliam commented on #87
@m-tyler Any chance you can share a much larger free-format program I can test with?

[2022-05-31 23:46] worksofliam commented on #87
![image](https://user-images.githubusercontent.com/3708366/171301535-76d391a2-81bb-4aba-aeb3-9cd8f67ef8b5.png)

[2022-06-01 00:17] worksofliam commented on #87
Ok, so they won't appear in the outline, but you will be able to right-click on indicators and use the find/peak references on them.

[2022-06-01 00:22] worksofliam commented on #87
Released in 0.7.1

[2022-06-01 00:30] m-tyler commented on #87
1. do you still want a larger source to work with?
2. What was the reason why they cant be shown in the outline?
3. I'm fine with this approach but I don't see your sample setting the value of a numeric indicator.  Your sample also wraps the indicator in parenthesis.  Is this a requirement for the Alt+F12 to work?  I noticed that VS Code likes to not pick up these special characters when I high-li

[2022-06-01 00:51] worksofliam commented on #87
The outline is purely for definitions. Sadly indicators don't really come under that list since they are always defined.

It is not. Simple right click on the indicator text and use find/peak references.

[2022-06-02 15:20] m-tyler commented on #87
So I dont know exactly what changes were made but I can see standard indicators in the IntelliSense view, Alt+F12 and Alt+Shift+F12.   (The outline has to complete building in order for them to appear even if the outline shows details.)    Once the outline is complete, I can see if an indicator is in use by typing `*IN` and activating CA.

[2022-06-06 21:39] SJLennon opened #94 "Outline: Disk extfile('QIWS/QCUSTCDT') causes problems"
Version 0.7.1

I have a (short) piece of code which tells me "No symbols found in document 'ZTESTB.RPGLE'.
If I look at the IBM i output I see this, where "FILE(*LIBL/QIWS/QCUSTCDT)" is invalid syntax:
[code]

Which must come from this line in the source:

`
dcl-f   QCUSTCDT Disk extfile('QIWS/QCUSTCDT');
`

I guess this problem stops the outline process.
So I commented out that line.  Saved and r

[2022-06-08 19:39] worksofliam commented on #94
Fix out tonight

![image](https://user-images.githubusercontent.com/3708366/172703033-1b0d0b09-f4e0-4f4b-8363-8cc7c683fa7f.png)

[2022-06-08 21:47] SJLennon commented on #94
@worksofliam That fixed the first of the problems, but the second one I mentioned

`dcl-f   QPRINT printer(132);
`

still stops the outline.

No Outline:
![image](https://user-images.githubusercontent.com/67484051/172722860-e7f07cdd-4bab-4d34-a08a-3ab569e1b63f.png)

Line commented out- has Outline:
![image](https://user-images.githubusercontent.com/67484051/172723007-1a19ee97-e539-4272-973f-1b7ab9

[2022-06-08 22:43] worksofliam commented on #94
How odd! I will look into this :)

[2022-06-19 02:44] #85 closed

[2022-06-19 02:46] worksofliam commented on #91
Functionality to find definition of export function.

Perhaps an inline hint, or something like that to do the work.

1. https://www.ibm.com/docs/en/i/7.4?topic=services-program-export-import-info-view
2. Find the source path for the object some how?

[2022-06-19 02:47] worksofliam opened #95 "Lookup defintion"
Functionality to find definition of export function.

Perhaps an inline hint, or something like that to do the work.

1. https://www.ibm.com/docs/en/i/7.4?topic=services-program-export-import-info-view
2. Find the source path for the object some how? Find source here: https://www.ibm.com/docs/en/i/7.4?topic=services-bound-module-info-view

[2022-06-22 22:38] worksofliam commented on #94
@SJLennon Will work on this right away this weekend. Will get back to you.

[2022-06-23 21:58] SJLennon commented on #94
@worksofliam  FWIW: Don't know if this helps, because I can't reproduce it.

I opened up a 293 line member with has a DCL-F printer line.  **Did't get an outline**.

I inserted  extfile('MYPRT') at the end just before the ;
Wasn't paying attention to the (missing) outline. After a couple seconds of thinking time, **suddenly an outline appeared**.

I entered a new comment line below the DCF-F and a

[2022-06-23 21:59] worksofliam commented on #94
@SJLennon Starting Saturday, I will have the whole week to look into existing issues since I am taking a long vacation before starting a new job. I will make sure this gets looked at.

[2022-06-29 01:12] m-tyler opened #97 "Lost match brackets action for RPG"
After updating to VS Code 1.68.x , I no longer have the ability to match to IF/ENDIF, BEGSR/ENDSR or similar that used to be there.

Is there a change to VS Code or this extension that maybe indicate its defined another way?

[2022-07-07 21:42] m-tyler opened #98 "TypeError: Cannot read properties of undefined (reading 'keywords')"
I receive this error while editing some members

[code]
followed by
[code]

Program is a **FREE source member at 4871 lines of code.

The outline and other features seem to be disabled while I see these error.

[2022-07-07 22:19] worksofliam commented on #98
@m-tyler There are really two ways to solve this:

* Share some source with me privately with me so I can recreate it
* Recreate the issue in a small file

[2022-07-08 14:20] worksofliam commented on #98
@m-tyler Sounds like the issue could be in one of the copybooks from the base library you copied from then. Let me know if you eventually recreate the issue! I'd love to tackle this.

[2022-07-08 14:46] m-tyler commented on #98
I am not certain that is it.  I only copied the main program source into my developer temp member.   I currently have NO members in my developer /COPY source file.  We use only one source file, QCPYSRC, for /COPY members.

The source that causes the error (same program just the production version) is a mix of fixed and free-format RPGLE which has free-form internal procedures.   This is the same p

[2022-07-08 14:48] worksofliam commented on #98
There isn't more verbose logging (yet). That is something that could be looked into, though.

[2022-07-08 15:34] m-tyler commented on #98
So I am now able to recreate the issue in my developer environment.  I copied all the /COPY members into my environment and opened the temp member source of the production version.  I get the same errors.  I am going to one by one rename the /COPY members to see if I can find the one causing the issue.

[2022-07-08 19:10] worksofliam commented on #94
@SJLennon What's the status here? Shall we close the issue?

[2022-07-08 19:11] #87 closed

[2022-07-08 19:13] worksofliam commented on #78
@viruslogic

QTEMP is not usable in this instance since all the requests to the system are stateless and use a new child process to run.

[2022-07-08 19:13] #78 closed

[2022-07-08 19:15] m-tyler commented on #98
Okay, I think I have recreated the issue.

This /COPY member causes errors to appear when opened.
[F4DATE.RPGLE.txt](https://github.com/halcyon-tech/vscode-rpgle/files/9074595/F4DATE.RPGLE.txt)

When included in a source member it gives the reported error.  I only need to include this member in a temp source file for the reported error to appear.

Error when /COPY member opened.
[code]

[2022-07-08 19:20] worksofliam commented on #98
@m-tyler Great work on tracking it down. I have been able to get the same error.

[2022-07-08 19:46] worksofliam commented on #98
0.7.3 coming out now with a fix. Test case was also created for this issue.

[2022-07-08 19:46] #98 closed

[2022-07-08 20:00] SJLennon commented on #94
@worksofliam I just tried it again, and still have issues.

I open a member that starts off like this, and get an outline:
![image](https://user-images.githubusercontent.com/67484051/178059966-d382a1b8-8b5a-496c-829d-402ab640138a.png)

I un-comment line 4.  Nothing changes in the outline, so I guess the parser didn't get kicked off.
![image](https://user-images.githubusercontent.com/67484051/17806

[2022-07-14 14:20] worksofliam commented on #94
Likely because of that... but now you've given me some steps to try and recreate. Thanks!

[2022-07-14 15:33] SJLennon commented on #94
@worksofliam Question:  It looks like the parser gets started when a keystroke is noticed (my interpretation without knowing exactly how it works internally).  So shouldn't commenting/uncommenting with Ctrl+/ be considered a keystroke, since it will most likely impact the outline?

[2022-07-14 19:34] m-tyler opened #99 "File record format names duplicated in outline"
Using RPGLE language tools v0.7.3 in VS Code 1.69.1.

The outline now loads the same file record format name on multiple file entries in the outline.
![image](https://user-images.githubusercontent.com/1353665/179067997-a1529265-c4bd-4464-88b6-7cbe0e573b8f.png)
and
![image](https://user-images.githubusercontent.com/1353665/179068340-2b2cf57e-ab86-497c-8f6f-2ecdb5b03815.png)
![image](https://user-im

[2022-07-14 20:00] m-tyler commented on #99
So to help out more.   The file XXXPYYYY the format is XXXFYYYY.  For file XXXYYYTB/PF the format is XXXYYYRF.

[2022-07-19 18:26] worksofliam commented on #94
@SJLennon I think I might have just fixed your issue in 0.7.4. Deploying that now

[2022-07-25 21:17] Wright400 opened #100 "IncorrectVariableCase fails to parse SQL with RPG comments correctly replacing wrong portion of SQL"
# Issue:
When an RPG free-form comment with `//` is inside an `exec sql` code block the parser for IncorrectVariableCase selects the wrong text to replace.

The length of the comment affects the offset negatively. The longer the comment the further back the problem underline and auto-fix replacement moves.

Running `RPGLE: Fix all auto-fixable Problems` results in a condition where vscode is stuck

[2022-07-26 02:09] worksofliam commented on #100
Great find. Working on this now.

[2022-07-26 02:24] worksofliam commented on #100
Got it working and created a new unit test for it. Will push out a fix soon.

<img width="666" alt="image" src="https://user-images.githubusercontent.com/3708366/180909113-16faa496-0656-4664-a3b8-6729a2da5511.png">

[2022-07-26 02:34] worksofliam commented on #100
@Wright400 0.7.5 being released as I write this. Restart VS Code in 5/10 minutes and give it a whirl. You can also see I created a unit test for it in the commit attached.

[2022-07-26 03:02] Wright400 commented on #100
@worksofliam took a bit longer. I felt like a certain someone giving a demo refreshing vscode waiting for the new version to drop.

Fix works great. Tested in the real program I came across that had a lot of comments in the SQL and auto-fix didn't have any issues.

[2022-07-26 03:02] #100 closed

[2022-07-26 03:02] worksofliam commented on #100
@Wright400 So neat! Very glad to read this :)

[2022-07-26 03:17] Wright400 opened #101 "NoGlobalSubroutines could replace leavesr with return during auto-fix"
# Enhancement
When converting subroutines to subprocedures it would be nice to replace all `leavesr;` with `return;`

[2022-07-26 17:56] worksofliam opened #102 "Paste as data-structure"
I have code from another OSS project I worked on to generate RPGLE data structures based on JSON. It'd be nice to have that functionality here.

[2022-07-27 01:51] worksofliam commented on #101
Great idea. Implemented and will be available next release.

[2022-07-27 01:52] #101 closed

[2022-07-27 01:53] #48 closed

[2022-07-27 04:48] worksofliam commented on #19
This feature is coming for every type of definition, but will not include export procedures.

[2022-07-27 04:48] #19 closed

[2022-07-28 18:37] #74 closed

[2022-07-28 18:37] #77 closed

[2022-07-28 18:37] worksofliam commented on #89
@m-tyler Any chance you can provide a code sample for this so I can create a unit test for it?

[2022-07-28 18:37] #102 closed

[2022-07-28 19:24] m-tyler commented on #89
[#VS Code - Code for IBM i - Log - Case #.txt](https://github.com/halcyon-tech/vscode-rpgle/files/9213556/VS.Code.-.Code.for.IBM.i.-.Log.-.Case.txt)
[VSCCFII89.RPGLE.TXT](https://github.com/halcyon-tech/vscode-rpgle/files/9213560/VSCCFII89.RPGLE.TXT)

A source member that will recreate and the log (with extra stuff) that shows it creating the alias with the wrong name.

It can be any pattern of do

[2022-07-29 18:55] m-tyler opened #104 "RPG Lint reports errors when other member type tab or other view active"
I have noticed this with the output view active and now recently when I have DSPF edit tabs.  The RPG linter marks most of the RPG code of the member tab to the left or right of the DSPF.  It seems the linter in RPG is activated when the DSPF preview is opened.

The errors that arise are indentation errors because the DSPF is set to a 5-space indent and my RPG is 2 spaces.

If I get the error belo

[2022-07-29 19:01] worksofliam commented on #104
If you could provide a screenshot, that'd great, though I think I know how to recreate the issue.

[2022-07-29 19:08] m-tyler commented on #104
Getting the linter to consistently reproduce is a little harder than I expect but I will attempt to grab screen captures today.

[2022-07-29 19:34] m-tyler commented on #104
I hope this helps.  the image is large.
![image](https://user-images.githubusercontent.com/1353665/181830726-436b52b4-3fe6-4550-990c-1fda19b895bf.png)

I noticed the error message appear when I open the DSPF preview.  I have seen that message (with different members) being recorded even when that member is not open current but had been.

I am having trouble getting it to behave badly so I can capt

[2022-07-29 19:44] m-tyler commented on #104
This shows that the linter marks source in error when viewing the output, sometimes.
![image](https://user-images.githubusercontent.com/1353665/181832631-e245a34c-957b-48da-99f1-96402793b6a6.png)

This is more annoying than a real problem so don't spend a lot of time on this.  I was wondering if its a setting or setup of my environment that might be causing this to happen.

[2022-08-01 13:39] worksofliam commented on #104
@m-tyler After reading your comments, it seems like the only error is that errors are appearing in the login when you open a display file preview. I understand the issue title now. Let me look into this for you.

[2022-08-02 21:27] worksofliam opened #106 "Write page on docs about vscode-rpgle"
This extension needs a page in the docs https://github.com/halcyon-tech/vscode-ibmi/tree/master/docs/pages/extensions

[2022-08-02 23:25] m-tyler commented on #104
Sorry for the delay getting back, you can treat it as a low pty if you haven't started yet.

[2022-08-04 18:34] #106 closed

[2022-08-04 19:00] worksofliam opened #107 "Remove check for `file` and `vscode-vfs`"
If it's not `member` or `streamfile`, then assume local workspace (which covers `file` and `vscode-vfs`)

[2022-08-05 22:09] #107 closed

[2022-08-08 16:22] worksofliam opened #108 "Constants being ignored by `IncorrectVariableCasing`"

[2022-08-08 16:24] worksofliam opened #109 "This is annoying"
<img width="887" alt="image" src="https://user-images.githubusercontent.com/3708366/183465990-4eb8e76a-9caf-40da-a160-86b6aa33fe4b.png">

[2022-08-09 14:26] worksofliam commented on #108
Cannot recreate.

<img width="632" alt="image" src="https://user-images.githubusercontent.com/3708366/183674798-8f2479b4-1721-4470-b389-28340705b5c5.png">

[2022-08-09 14:26] #108 closed

[2022-08-09 15:03] JonFP commented on #108
Interesting.

It appears that you sometimes have to request Quick Fix multiple times. Try this:

[code]
It will fix the constant name first time around and the complain about the case of the name in the Eval.  Second Quick Fix will resolve it.

When I originally reported this the case of the name was not flagged as a violation by the linter so no fix was offered.  I have since updated VS Code and

[2022-08-09 16:50] JonFP commented on #108
Rather than open another issue I just found this one:

ExSr ClearSubfile;

Is incorrectly identified as a procedure call and asks for parens to be added.

[2022-08-09 16:56] worksofliam commented on #108
@JonFP How is `ClearSubfile` defined?

[2022-08-09 16:57] JonFP commented on #108
As a subroutine.

Jon Paris

***@***.***

[2022-08-09 17:12] worksofliam commented on #108
@JonFP Are you able to share a full source example so I can recreate?

[2022-08-12 19:05] JDubb-At-Nelnet opened #111 "Run linting outside of VSCODE"
This is an awesome tool - i was wondering if there was a way to use it outside of the context of VSCODE?

Things I would like to do
 - Define some linting rules, call a command or program passing a library / file / member name as input and get back something that tells me if the member passes all linting rules.  This would be awesome to incorporate into a CI/CD pipeline.
 -  Run a command that fix

[2022-08-12 19:12] worksofliam commented on #111
Hi @JDubb-At-Nelnet !!

Yes, this is going to happen. I have already started the work to move all the parsing stuff out of this repo into another base library. The timeline is long but it'd be a great achievement.

I am aiming at something like: `rpglint /path/to/source.rpgle`, and of course many complex options, including entire directory scanning!

[2022-08-12 20:16] m-tyler opened #112 "Prevent lint parsing over most source libraries"
Or it could be stated only allow lint parsing over certain libraries.

My issue is that when I review code in the libraries where mods cannot be made, I end up with lint errors that will not go away until I restart VS Code.

I have tried adding an empty lint config file and a file with all false but it seems to be picking up another reference for lint rules for that library (my lint config).

Is t

[2022-08-12 20:24] m-tyler commented on #104
I am adding this here as it may cause this to be a higher priority than I thought.  Whenever I get the lint paring error shown above, the server jobs stop responding or the VS Code side drops the connection, the end result is that I end up canceling server-side SSH jobs when I get that error.

![image](https://user-images.githubusercontent.com/1353665/184437223-ac21163d-9829-4f25-be05-aa18d433b494

[2022-08-12 20:25] worksofliam commented on #112
Interesting idea. It's something I will have to think about... is it only indent errors showing up or many types of errors?

[2022-08-12 20:26] Wright4i opened #113 "IncorrectVariableCase - Changing case in SQL for non-host variables and losing position"
# Issue 1
IncorrectVariableCase is matching on `null` because in our copybook we have `NULL` defined.

This probably shouldn't match at all since null isn't a host variable.

_Note: it doesn't have to be null. You could define BONUS in the example and it'll incorrectly match_

# Issue 2
When replacing `null` to `NULL` it loses position moving left and locks up VS code.

This only occurs when there

[2022-08-12 20:32] m-tyler commented on #112
Ah, that makes sense now because that is the issue I see pop up if I open a member from a read-only library source.

I would not want them turned off for my developer library though.

[2022-08-12 20:33] Wright4i opened #114 "UselessOperationCheck - Can't handle callp with extender"
# Issue
`callp(e)` is replaced with `e)`

# Sample program
[code]

# Incorrect auto-fix
[code]

# Thoughts
I know callp is useless, but I think in free-form callp(e) or any extender still has some use. I don't really know cause I hardly use callp(e). I think it sets on %error()?

[**Research supporting that thought:**
](https://www.ibm.com/docs/en/rdfi/9.6.0?topic=codes-callp-call-prototyped-proce

[2022-08-12 20:43] worksofliam commented on #114
Good find. I will create a fix soon.

[2022-08-12 20:44] worksofliam commented on #113
We should really only be looking at words that are part of host variables. Good find. I will make a fix.

Also looks like we have some range issues going on here.

[2022-08-12 20:45] worksofliam commented on #113
Note to self: it's to do with empty lines.

<img width="500" alt="image" src="https://user-images.githubusercontent.com/3708366/184442498-0751e492-a726-4cc5-ae8c-2bd96bd0b70a.png">

[2022-08-12 20:54] worksofliam commented on #113
Well, I fixed one bug!

<img width="630" alt="image" src="https://user-images.githubusercontent.com/3708366/184443521-8930c33d-e918-4aee-861e-82a3227598b0.png">

[2022-08-12 20:59] worksofliam commented on #113
The change to get the variable casing to only work for host variables in embedded SQL is going to take a bit of work, but I would say the more serious issue has been tackled. Good find @Wright4i!

[2022-08-12 21:02] Wright4i commented on #113
Agreed. We can live with SQL words randomly being capitalized.

The other issue locking up VS code and breaking compiles was way more serious.

[2022-08-12 21:04] Wright4i commented on #113
Oh and thanks!!! @worksofliam

[2022-08-13 01:38] worksofliam commented on #113
Woop!

<img width="599" alt="image" src="https://user-images.githubusercontent.com/3708366/184463687-308d67c9-43c0-40d4-a443-88cabf764cfb.png">

Two new unit tests written for this issue too. I like that.

[2022-08-13 01:43] worksofliam commented on #113
I am going to release this tonight.

[2022-08-13 01:43] #113 closed

[2022-08-13 01:43] worksofliam commented on #114
Releasing tonight.

[2022-08-13 01:44] #114 closed

[2022-08-13 01:44] worksofliam commented on #104
@m-tyler I am going to need some very specific steps to recreate this issue, please

[2022-08-13 01:59] worksofliam commented on #99
@m-tyler The latest release, 0.9.7, changes how record formats are displayed.. we group by file now.

[2022-08-14 02:03] JDubb-At-Nelnet opened #115 "Cannot read properties of underned (reading 'keywords')"
Description of issue:
Linting not happening for a specific SQLRPGLE member that compiles just fine.  Linter works fine on other members.

extension version: V0.9.7
VSCODE version: 1.70.0

output:
[code]

[2022-08-14 03:27] worksofliam commented on #115
@JDubb-At-Nelnet i will need the code, or a sample, to recreate the issue. Thanks!

[2022-08-15 13:59] m-tyler commented on #104
If you are asking for steps on how to reproduce the situation where SSH server jobs remain active, I don't think I cannot give that to you.  I only occasionally monitor that subsystem then I find those job remaining.  I know they are part of this extension as this is the only tool I use that uses SSH for its server connection type.

I am assuming that its related to the lint error I initially repo

[2022-08-15 15:00] m-tyler commented on #99
It mostly works, at least its not the repeated format name.  You can see from this image that MSTPWEEK has the format and fields from the file above it but the one following MSTPWEEK does not.

![image](https://user-images.githubusercontent.com/1353665/184659916-85ac6a47-8bbd-4a4b-9509-d83026d7c3a8.png)

[2022-08-15 21:17] worksofliam commented on #115
@JDubb-At-Nelnet Will look into it ASAP.

[2022-08-16 01:07] JDubb-At-Nelnet commented on #115
strangely, This error occurred when I was editing the source in a filesystem member.  when I ran CPYTOSTMF to put it in an IFS file and created a lint config in the working directory, it worked fine.  Then it seemed like it worked for a bit in the source member, but after a while the error came back.

[2022-08-16 01:09] JDubb-At-Nelnet commented on #115
actually, now its a different error:

`Uri remote path: {"$mid":1,"fsPath":"\\RDGJWEIRIC\\QRPGLESRC\\KFKCNSBNKR.SQLRPGLE","_sep":1,"external":"member:/RDGJWEIRIC/QRPGLESRC/KFKCNSBNKR.SQLRPGLE","path":"/RDGJWEIRIC/QRPGLESRC/KFKCNSBNKR.SQLRPGLE","scheme":"member"}
Current path: RDGJWEIRIC/vscode/rpglint.JSON
Error linting /home/jweiric9/kfkcnsbnkr.sqlrpgle: Cannot read properties of undefined (readi

[2022-08-16 07:43] rishabkshk commented on #115
I am getting the same error as discussed in the original issue.

Error parsing /XXXXXSRC/QXXXROE/XXXXXX.SQLRPGLE: Cannot read properties of undefined (reading 'keywords')
TypeError: Cannot read properties of undefined (reading 'keywords')
	at e.getDocs (c:\Users\XXX\.vscode\extensions\halcyontechltd.vscode-rpgle-0.9.6\dist\extension.js:1:38878)
	at processTicksAndRejections (node:internal/process/

[2022-08-16 12:53] worksofliam commented on #115
@rishabkshk If you could share an example, that'd be great. Thank you!

[2022-08-16 13:25] worksofliam commented on #115
@JDubb-At-Nelnet No errors for me so far. I am also going to need those two copy members from the source.

[2022-08-16 19:25] m-tyler commented on #99
[TSTVSC001.RPGLE.txt](https://github.com/halcyon-tech/vscode-rpgle/files/9353877/TSTVSC001.RPGLE.txt)

This program source demonstrates the issue with my setup.  It has all the tables listed in the DCL-F's, in the array space, so you only need to copy them to ACS - RSS and run the script.
Then open the member and the outline should appear wrong.  If you look at the tables in the source you can see

[2022-08-16 19:27] worksofliam commented on #99
@m-tyler That's a great test script. Thank you!

[2022-08-16 19:44] m-tyler commented on #99
One more thing, I never noticed until today.  You can see the format names and fields are from the test source I uploaded a few minutes ago.

![image](https://user-images.githubusercontent.com/1353665/184970236-4bd9b483-ca3b-4823-b605-8c6e08145eb6.png)

[2022-08-17 02:25] worksofliam commented on #99
Fix coming out tonight.

<img width="337" alt="image" src="https://user-images.githubusercontent.com/3708366/185020824-e95c0318-7487-413e-a8e7-b97090febfa6.png">

[2022-08-17 02:25] #99 closed

[2022-08-17 02:25] worksofliam commented on #115
Solved in a fix. Will be out tonight.

[2022-08-17 02:25] #115 closed

[2022-08-17 14:56] m-tyler commented on #99
Whoo Hoo!
Nice!

Thanks for getting this fix done!
There is a small odd quirk that I am placing on VS Code where the outline shows a but odd with programs that were opened before in VS Code but closing and reopening or causing the outline to rebuild seems to get that information to correct itself.

This is an image of a program opened up after the extension update but that was also opened prior to

[2022-08-17 15:00] worksofliam commented on #99
The outline cache is something I've been meaning to look into. Thanks for mentioning it.

[2022-08-18 16:12] SJLennon commented on #109
@worksofliam

Agreed. I have noticed this too.  Seems to occur when I enter a tab. I have been training myself to enter a space first...

[2022-08-19 16:30] m-tyler commented on #115
Your comment mentions a fix coming out but in 0.9.8 I don't see this issue reported as fixed.  Did a fix make it into that version?   I am at 0.9.8 and I still see these issues.  I have a source that reproduces this issue.  For me, the issue appears in some copybook members.   The one that is the biggest issue is **FREE member with a special /IF DEFINED compile section.

With that code commented o

[2022-08-19 16:41] worksofliam commented on #115
@m-tyler Are you able to paste that code here? That'll allow me to create a unit test for it. Thanks!

[2022-08-19 16:52] m-tyler commented on #115
Sorry I was going to but got into paying around with possible reasons.  The basic reason is the parser doesn't like that the DS is defined across several lines.   If you comment out the /IF+/ENDIF defines the parser errors.  If you comment out the stand-alone semi-colon and add a semi-colon to the Template line it starts working.

[code]

[2022-08-19 16:53] m-tyler commented on #115
If that syntax is too complex for the parser to work with can it at least not break the outline and just not add that item to the outline?

[2022-08-21 17:58] JDubb-At-Nelnet commented on #115
I'm still getting similar errors on v0.9.8.  I'll send the requested copylibs in case that helps.  Could have something to do with the copylibs NOT being free form while the main source IS fully free form.  This is a perfectly valid thing to do, mixing fixed copylibs with free form module / program source - but I could see that being difficult for the parser if it is parsing from copylibs too.

*e

[2022-08-21 18:06] worksofliam commented on #115
@JDubb-At-Nelnet Please send me another example to the same email you used before and I will look into it right away.

[2022-08-21 18:43] worksofliam commented on #115
@m-tyler I put in a fix for the issue you were facing. Thanks for the example you provided.

[2022-08-21 18:47] #112 closed

[2022-08-21 18:47] worksofliam commented on #104
@m-tyler What is the status here? What is something I can do to recreate this issue?

[2022-08-21 20:22] m-tyler commented on #104
I would like to wait this week to see if I can spot a pattern I can repeat.  But I only see the remaining active SSH server jobs when I notice that the outline and CA are not functioning.

By this Friday, if I don't have anything more I will close this issue.

[2022-08-22 07:00] rishabkshk commented on #115
@worksofliam Hi Barry, how long will it take the fix to be in the new release?

[2022-08-22 12:31] worksofliam commented on #115
For the original issue, maybe it will be out today. For the other issues, later this week.

[2022-08-22 17:36] m-tyler commented on #112
This is working as expected.

I have a question, though.

Is there a cache for the lint rules?  During my testing with lint rules in a library, I don't want rules to be applied, I noticed that changes didn't seem to turn off unless I reloaded VSC.   After waiting what seemed like far too long for the lint rules to update to the marked-up source the errors/warnings finally went away.   I am wonderi

[2022-08-26 08:25] rishabkshk commented on #115
Thanks Barry,

I appreciate you making such a nice extension and actively maintaining it. For the issue related to `IF directive` with copybooks, sorry I was not able to provide you the code. I have updated my extension with yesterday's update but still facing the issue, may be the later update this week will fix the issue.

I have the code now and if you can test your new changes with it, that wo

[2022-08-26 08:41] rishabkshk commented on #115
Hi Barry,

You must have received my mail from a github comment.
I am attaching the program and copybook content for you to test.

Thanks
Rishab

On Mon, 22 Aug, 2022, 6:01 pm barry, ***@***.***> wrote:

[2022-08-26 12:59] worksofliam commented on #115
Hi @rishabkshk I am still waiting for the file to come through. Send it to `liama@business.com` where `business` is my employer. Thanks!

[2022-08-26 15:18] m-tyler commented on #104
I'm closing this because I cannot figure out how to demonstrate this for you.

[2022-08-26 15:18] #104 closed

[2022-08-29 03:51] worksofliam commented on #33
https://user-images.githubusercontent.com/3708366/187119453-992bed3c-bca5-48b8-8785-692512037274.mov

[2022-08-29 03:51] worksofliam commented on #33
![image](https://user-images.githubusercontent.com/3708366/187119480-a317d37a-dc7f-47e4-8997-e9ec5193350f.png)

[2022-08-30 02:56] #109 closed

[2022-09-02 19:59] m-tyler commented on #86
You closed this issue indicating that a fix is due out soon.  Did that ever make it out yet?  If so I still see the same error in 0.10.2 if not is it planned soon-ish?

If still not I have another issue that is related.  I am getting this error but I am not able to find the source line that might be linked to it, yet.

[code]

[2022-09-02 20:05] m-tyler commented on #86
Okay I found the source of the data for that.  Its reading the source array space.

[code]
![image](https://user-images.githubusercontent.com/1353665/188228247-fcd610e4-b968-4933-b160-f0df380dabc2.png)

The program is a free format `NOT-**FREE`.

[2022-09-02 20:08] worksofliam commented on #86
@m-tyler would you mind opening a new issue for this with that example in the bottom?

I think I know the issue but need to create a new test case for it.

[2022-09-02 20:12] m-tyler commented on #86
Yep, no problem.

[2022-09-02 20:18] m-tyler opened #120 "File name parser is grabbing internal array data"
I am getting this error in a program that has a compile time array.
The program is a free format `NOT-**FREE`.

Original log entry:
[code]
![image](https://user-images.githubusercontent.com/1353665/188229672-3121058d-0f1a-40f5-9ead-2e922bd563fc.png)

Modified source showing that the compile time array line is the source of the log entry:
[code]
![image](https://user-images.githubusercontent.com/13

[2022-09-02 21:06] worksofliam commented on #120
Great find. I will look into this a bit later.

[2022-09-03 19:24] worksofliam commented on #120
@m-tyler Any chance you can paste some or all of your CTDATA so I can use it for my test case?

[2022-09-05 23:39] m-tyler commented on #120
Definition
DCL-S TP CHAR(1) DIM(6) CTDATA PERRCD(1); // Deduction types
       DCL-S TD CHAR(20) DIM(6) ALT(TP);

Array space
**    TP and TD - Deduction types and descriptions
BBenefit      Benefit
DDeferred CompDef Cmp
CChild supportCh Sup
GGarnishment  Garnish
SStatutory    Statut.
VVoluntary    Volntry

[2022-09-06 14:14] worksofliam opened #122 "Ability to disable linter on specific files"
Was thinking a right click option on RPGLE sources to disable it?

[2022-09-06 14:15] worksofliam commented on #122
Should happen in https://github.com/halcyon-tech/vscode-rpgle/blob/eed5652a5f8538633533fc63ad9e715aeb04f0b8/src/vscode/LinterWorker.js#L411

[2022-09-06 14:39] m-tyler commented on #120
I was able to get the issue to appear with this sample program.
[code]

[2022-09-06 14:46] worksofliam commented on #120
@m-tyler I will be putting the fix in today.

[2022-09-06 18:15] #120 closed

[2022-09-06 18:16] worksofliam commented on #120
@m-tyler Out in 0.10.3!!

[2022-09-06 19:10] m-tyler commented on #120
Installed and its fixed for me!

Thanks.

[2022-09-06 21:01] BrianGodsend opened #123 "/COPY and /INCLUDE Compiler-Directives Not Parsed if Source Specification Type Precedes the Directive"
The /COPY and/or the /INCLUDE copybook member are not parsed in the editor if a specification type is specified before the compiler directive.

1. Edit an RPGLE source member which includes a /COPY and/or a /INCLUDE compiler-directive.
2. If the line already includes a specification type, clear it (be sure column 6 is blank)
3. Notice the following;
  * The /COPY and /INCLUDE are colored in blue

[2022-09-06 21:12] worksofliam commented on #123
There are two issues here.

1. making the 'goto copybook' (Shift+F12) work is my issue and I can solve this.
2. the language highlighting is an issue from IBMi Languages. @barrettotte is this something you could take a look at?

[2022-09-06 21:22] barrettotte commented on #123
@worksofliam Oh yeah no problem, created issue [114](https://github.com/barrettotte/vscode-ibmi-languages/issues/114). However, no promises on ETA. I'm sure one of these weekends I'll get a random spark to bulk fix a bunch of minor bugs at once.

[2022-09-06 21:23] worksofliam commented on #123
@barrettotte No worries. Not a huge priority. Hope you're doing good!

[2022-09-06 21:30] barrettotte commented on #123
@worksofliam

Sounds good. Ah it pains me to say I'm unfortunately no longer an IBM i developer. I still intend to maintain the syntax highlighter from time to time though, I've actually been missing RPGLE lately haha.
Love seeing all your work on the other IBM i extensions, keep up the good work!

[2022-09-07 08:34] pabloto opened #124 "Rpgle Lint"
Hi,  I work in local, reading from documentation I activated various lint configuration, now I don't understand the exact meaning of this lint report:

<img width="570" alt="image" src="https://user-images.githubusercontent.com/9719313/188828543-b762e23d-3329-48e4-ac62-8327e92a1bf1.png">

Obviously qualified is clear, but for me is not clear the meaning of:

No reference to definition. sometimes a

[2022-09-07 15:11] worksofliam commented on #124
* `NoUnreferenced` will warn on definitions that are defined but not references.
* `NoGlobalsInProcedures` not sure why.. the idea came from someone else.

You can disable these in the `rpglint.json`.

I will fix this a bit later!

[2022-09-08 10:54] dennisnel opened #125 "RPGLE Linter - Error linting "RPG-source": Cannot read properties of undefined (reading 'type')"
Hi,

I'm working on source in a library on the IBM i.

I have the linting enabled and configured (MYSOURCELIB/VSCODE(RPGLINT.JSON)

As soon as I enable/configure  "NoUnreferenced" I get the error

"Error linting /MIDAS5149/QRPGSRC/RPGFREE.RPGLE: Cannot read properties of undefined (reading 'type')

I'm on v1.5.11 of Code for IBM i and v0.10.3 of RPGLE language tools

When I remove the "NoUnreferen

[2022-09-08 10:56] dennisnel commented on #125
I could also have missed something, but as soon as I make changes to the RPGLE.JSON file I need to open/close vscode for the linter to recognize the "new" config.

Is this "normal" or is there a way to refresh the new config without a open/close?

Thx

[2022-09-08 11:03] worksofliam commented on #125
@dennisnel are you able to share the code for where the error is happening?

[2022-09-08 13:11] worksofliam commented on #125
@dennisnel I will still need an example to understand what might be causing this issue :)

[2022-09-08 13:36] dennisnel commented on #125
This was non-FREE RPGLE that I converted and then wanted to open it and get the linter errors.

[RPGFREE.rpgle.txt](https://github.com/halcyon-tech/vscode-rpgle/files/9527230/RPGFREE.rpgle.txt)

![image](https://user-images.githubusercontent.com/69187463/189136186-0f059610-ba24-4750-b784-22c558b3edef.png)

[2022-09-13 12:06] pabloto opened #126 "Loop after launch RPGLE: Fix all auto-fixable problem"
This is my rpglint.json

`{
  "indent": 2,
  "BlankStructNamesCheck": true,
  "QualifiedCheck": true,
  "PrototypeCheck": true,
  "ForceOptionalParens": true,
  "NoOCCURS": true,
  "NoSELECTAll": true,
  "UselessOperationCheck": true,
  "UppercaseConstants": true,
  "IncorrectVariableCase": true,
  "RequiresParameter": true,
  "RequiresProcedureDescription": true,
  "StringLiteralDupe": false,
  "

[2022-09-13 14:07] mwmayer4 opened #127 "COPY/INCLUDE doesn't handle library list"
I've tried a variety of ways to define the /include by specifying the lib/srcfile/mbr, srcfile/mbr and just the member. I have the members in the same QRPGLESRC and the library list and current library set to the library where the source resides.

The Peek Definition <option F12> on Mac 99% of the time says no definition found. Yesterday, however, at one point the F12 did open a definition. I cann

[2022-09-21 01:00] worksofliam commented on #126
That is hilarious. What a good find!

[2022-09-21 01:40] worksofliam commented on #125
@dennisnel Ok, this is going to be very tricky.

You need to open each of these members individually and share with me the one where the outline view is not renderer (or causes the error).

I am able to get the outline view to show without the copybooks.

[code]

[2022-09-21 01:44] worksofliam commented on #127
As of right now, Code for IBM i does not use the library list to search for include/copy statements, for example:

[code]

Perhaps that is your issue?

Also, the outline view will only show definitions in the source you're currently working in and will not show definitions from copybooks.

[2022-09-21 01:46] #124 closed

[2022-09-21 01:46] #126 closed

[2022-09-21 02:49] worksofliam commented on #125
@dennisnel We now provide a new way to provide debug information, which should help me track down your issue.

1. Enable the debug output in the VS Code settings under 'RPGLE language tools'

<img width="734" alt="image" src="https://user-images.githubusercontent.com/3708366/191402998-e8535eb1-2d1d-45fd-ada5-3816a098a590.png">

2. Restart VS Code and cause the issue to happen again.
3. A new messa

[2022-09-21 10:41] mwmayer4 commented on #127
I was under the impression the outline view would show the definitions (like RDi). So my issue is not really an issue. It sure would be nice if it did show though. Thanks

[2022-09-21 12:23] worksofliam commented on #127
It will! But only for items in the active editor 😊

[2022-09-21 12:31] worksofliam commented on #125
The copybooks can be in fixed with no problem. The linter only runs on active source (which is free).

Let me take a look at this and get back to you.

[2022-09-21 20:21] worksofliam commented on #125
@dennisnel I have just release 0.10.7 which may solve your problem. Give it a go and let me know. Thanks!

[2022-09-22 10:22] dennisnel commented on #125
Hi @worksofliam , I was able to open the member that was previously giving an error without any issues.

But when I tried a new RPG member I got an error again.

I have included the source as well as all the /Include members in the zip file.

I did notice that when I opened them to get the outline view only the CATEMSTPF.rpgle copybook produced results.

I hope this helps

[RPGLE Linter Error.zip]

[2022-09-26 21:18] m-tyler opened #129 "RPG Lint error on comment"
Is the linter for RPG supposed to mark up comments that match a source item like SUBR name or is this because the lint tool is parsing by token only and then matches on those solo tokens?

![image](https://user-images.githubusercontent.com/1353665/192382205-e71ed466-a901-4a5b-b611-827610f4f4d9.png)

Adding //@rpglint-skip does prevent this but that makes the code look a little ugly.

[2022-09-26 21:34] worksofliam commented on #129
It's not. If you wouldn't mind sharing a snippet so I recreate that and create a test case for it, that'd be great.

[2022-09-26 21:40] m-tyler commented on #129
**FREE
Exsr Screen;
*INLR = *ON;
Return;
//-----------------------------------------------------------------------
// Screen
//-----------------------------------------------------------------------
Begsr Screen;

  Select;
    When Dspfinfds.FKey = F05 // Refresh/Reload screen
      ;
      Reload = *ON;
  Endsl;

Endsr;

[2022-09-27 16:14] worksofliam opened #130 "New rule: require `options(*trim)` on all `varchar` parameters"

[2022-09-27 16:29] worksofliam opened #131 "New rule: Enforce specific `ctl-opt` spec options"
But only if it's provided, so not to affect copybooks

[2022-09-27 16:42] worksofliam opened #132 "Rule removal `RequireBlankSpecial`"
`*BLANK` refers to a single space in RPGLE, not an empty string.

[2022-09-27 16:43] worksofliam opened #133 "Rule fix: `NoExtProgramVariable` description"
`Dcl-Pr APGM extpgm(myvarNotused);`

Where EXTPGM is referred to as a variable

[2022-09-27 17:02] worksofliam opened #134 "New rule: `select` blocks to require `other` fallback"

[2022-09-27 17:53] worksofliam opened #135 "New check: PREFIX keyword on file definition"

[2022-09-29 20:42] worksofliam opened #136 "Cleanup of path resolving for all file systems"

[2022-10-06 17:39] worksofliam opened #137 "Clear linter diagnostics when tab is closed"

[2022-10-07 15:38] #136 closed

[2022-10-07 15:46] worksofliam commented on #137
This is annoying

<img width="1792" alt="image" src="https://user-images.githubusercontent.com/3708366/194594804-c6a3f1cc-6f92-4793-bed6-88e004f3f7ad.png">

[2022-10-07 15:50] #137 closed

[2022-10-11 20:40] krisbaehr opened #139 "Outline - Cannot read properties of undefined (reading 'toUpperCase')"
We are checking out Code for IBM i and all you've done for the IBM i and open source and are loving what we are seeing! We use VS Code for Node.js and Angular and would love to be able to program RPG there as well.

### The issue I'm running into trying to build the outline for the following code:
[code]

### The error received in the RPGLE language tools OUTPUT is:
Error parsing /DUNC/QTSOURCE/A0

[2022-10-11 22:24] worksofliam commented on #139
Will look at this ASAP. I just put a fix today which may fix this actually solve this, but you are fab for providing an example.

[2022-10-12 01:23] worksofliam commented on #139
Have recreated the issue with a new test case.

[2022-10-12 01:39] worksofliam commented on #139
0.12.1 has been released.

@krisbaehr Please let me know what you find! Thanks for a great bug report.

[2022-10-12 13:03] krisbaehr commented on #139
@worksofliam I picked up 0.12.1 and tested your changes this morning. Everything is working great. I figured since you spend a bunch of time giving us these fantastic tools, I can do my best to nail down the actual problem and present it in a concise manner. Thanks for the quick response!

[2022-10-12 13:08] #139 closed

[2022-10-12 20:35] BrianGodsend commented on #123
Sorry for the long delay before getting back regarding this issue.  This is still not working correctly.  I am using version v1.5.16.

* The syntax highlight is working with or without the specification type.   FIXED!  THANK YOU!

* Shift+F12 is still not opening /COPY (/INCLUDE) source member if the line includes a specification type.

Note:
If one right-clicks on a /COPY (/INCLUDE) line and sele

[2022-10-12 21:10] worksofliam commented on #123
Will have a look into this tomorrow.

Go to references will not doing anything for copybooks, anyway. But perhaps the error message could be clearer.

[2022-10-12 21:29] worksofliam commented on #123
Released 0.12.2 which should resolve this issue.

[2022-10-16 23:04] #123 closed

[2022-10-24 13:31] sebCIL commented on #135
Hello,

I create a PR for this issue.

[2022-10-26 16:36] Hadkins2 opened #147 "Autocomplete window stays active more than usual"
![image](https://user-images.githubusercontent.com/95584606/198083693-70e7d6f8-40e2-466b-b5f2-e7a69bf150f2.png)

When typing a line of code, I rely on the autocomplete feature, but a recent change has made it start popping up more often.  For example in the line of comments, I typed the // and then space and the autocomplete box popped up.  Is this configurable?  I rely on this for completing vari

[2022-10-26 16:58] Hadkins2 commented on #147
I guess it all boils down to the way I got used to it reacting.  In my mind, space means there is nothing left to try to autocomplete.  I got used to hitting Esc to make it stop in certain situations.  But the way I usually code I will get to the end of the line and press Enter.  If autocomplete is primed to react when I hit Enter, it adds appxClose on a lot of lines and I have to delete that befo

[2022-10-26 17:32] worksofliam commented on #147
@Hadkins2 I don't think there is a way to make it configurable with the way it works in the backend - though I have no problem removing the space as a trigger.

What do you think?

[2022-10-26 17:39] Hadkins2 commented on #147
Leave it as it is now.  Looking through the discussions, I don't see anyone else having issues with the current behavior.  This is just something I need to adjust to.

Thanks for responding.

Howard

[2022-10-26 17:40] worksofliam commented on #147
@Hadkins2 I really do appreciate this feedback.

vscode-rpgle has a big internal change this week (thus why this is happening) and your feedback is excellent.

Thank you!

[2022-10-26 17:40] #147 closed

[2022-10-26 17:41] Hadkins2 commented on #147
Looking forward to the updates.  This product just keeps getting better and better.

[2022-10-26 17:50] worksofliam commented on #147
Hey @Hadkins2 - sorry to bother you about this.

 I am trying to show my higher ups that our users are active and like to provide feedback like this.

Whenever you get a moment, can you check this out and leave some feedback there? Thanks!

https://github.com/orgs/halcyon-tech/discussions/350

[2022-10-26 20:07] Hadkins2 commented on #147
Done.  My pleasure to provide feedback

[2022-10-28 07:13] RolandStrauss opened #148 "RPG Lint quick fix option not showing after the last update"
After the last update the quick fix options are not available anymore on LINT, can you please advise

![RPG Lint quick fix not showing](https://user-images.githubusercontent.com/109630316/198525797-da84fad4-90c4-4678-96cb-917a81ec3081.png)

[2022-10-28 12:40] #148 closed

[2022-10-28 15:26] worksofliam opened #152 "Move DSPFFD outfile logic into reusable method"
Same function exists in both the tests and the server separately. Let's make them one

[2022-10-28 20:51] #135 closed

[2022-10-29 06:34] sebCIL opened #153 "File description doesn't apear with the keyword "TEMPLATE""
File description doesn't apear with the keyword "TEMPLATE".
![image](https://user-images.githubusercontent.com/18192917/198817548-183a2bbd-4743-4de0-bec9-80c68f0aafa5.png)

[2022-10-30 15:45] worksofliam commented on #153
@sebCIL Odd.

Please share that snippet of code so I can create a test case out of it, or feel free to do so yourself

[2022-10-31 15:05] worksofliam opened #155 "Update action to create linter only VSIX"

[2022-10-31 16:05] m-tyler opened #156 "I am receiving crash reports with version 0.14.2"
![image](https://user-images.githubusercontent.com/1353665/199053650-583351e3-f465-444f-b088-f48ce1959108.png)
 I will restart VS Code and keep an eye out to see if it happens again.
My log of the error.
[RPGLE language tools.zip](https://github.com/halcyon-tech/vscode-rpgle/files/9902768/RPGLE.language.tools.zip)

[2022-10-31 16:08] worksofliam commented on #156
@m-tyler Please update to 0.15.0 and see if the same issue persists. Thanks.

[2022-10-31 16:18] m-tyler commented on #156
I'm looking to see if I can tell how the problem appeared to see if I can replicate it under 0.14.0 before upgrading that way I try the same actions to see if it gets resolved.

[2022-10-31 16:51] worksofliam commented on #156
Check if you have IBM i Languages installed. It is no longer a required dependancy.

Are you developing in source members, IFS, or local workspace?

[2022-10-31 16:53] worksofliam commented on #156
@m-tyler I have recreated the issue with `DCL-F`....

[2022-10-31 16:55] m-tyler commented on #156
I develop only with QSYS source files.

`IBM i Languages` is installed.

[2022-10-31 16:56] worksofliam commented on #156
But you get no highlighting at all when you edit `.rpgle` or `.sqlrpgle`?

[2022-10-31 16:59] worksofliam commented on #156
@m-tyler 0.15.1 will include a fix for the `DCL-F` issue.

[2022-10-31 17:09] worksofliam commented on #156
@m-tyler Woop!!

Sorry for that issue. As you know, 0.14.0 was a big one and I didn't catch everything. I really appreciate you.

[2022-10-31 17:09] #156 closed

[2022-10-31 17:15] m-tyler commented on #156
Oh, thank you for developing this project.

[2022-11-01 16:15] worksofliam opened #157 "RPGLE language tools rename"
I propose to change the name of `RPGLE language tools` to `RPGLE`.

It seems like most of the language providers in the VS Code Marketplace have a single word for their extension. Usually it's just the name of the programming language:

<img width="916" alt="image" src="https://user-images.githubusercontent.com/3708366/199282530-491959c9-2883-44e3-83b9-6d6021a36c1c.png">

[2022-11-01 16:16] worksofliam commented on #157
@halcyon-tech/core What do you think of this?

[2022-11-01 19:29] Wright4i commented on #157
Agreed it should just be `RPGLE`

[2022-11-01 19:38] chrjorgensen commented on #157
I also agree 👍

[2022-11-02 15:17] m-tyler opened #159 "RPGLE Language server has issues and stops suddenly"
Since upgrading to the versions that support the new RPGLE language server, I have been seeing issues with it crashing suddenly or not providing the features of the extension.

Attached is the latest error log I get when I open a particular IBM i share mapped to a windows drive.
[Version 0.15.2 RPGLE server issue.zip](https://github.com/halcyon-tech/vscode-rpgle/files/9921615/Version.0.15.2.RPGLE.

[2022-11-02 16:10] worksofliam commented on #159
So to be clear:

You have a mapped drive setup on your system which points to an IBM i filesystem?

[2022-11-02 16:28] m-tyler commented on #159
Correct.  The feature of the mapped drive has been in use by me with this extension since I started using VS Code over a year ago.
I don't feel mapped drives is the part that is of issue.  I say this because I can use the extension with another mapped drive and I have no issues.

Would there be any conflict with a folder having a .git repo set up within?  I cleaned up some folders with .git repos

[2022-11-02 16:29] worksofliam commented on #159
No, I think the real issue is a bug in the parser that I believe I've found now.

[2022-11-02 16:31] m-tyler commented on #159
Cool!

[2022-11-02 16:44] worksofliam commented on #159
Here's the basic of the bug. This is valid behaviour:

There is only one item in the outline for two definitions (this is how it's always worked)

<img width="866" alt="image" src="https://user-images.githubusercontent.com/3708366/199549794-ed160e92-fd2c-43f1-a0e0-108976e9a2ba.png">

Instead, this is what is happening for you (I just stopped it from crashing to show you :))

<img width="858" alt="

[2022-11-02 16:52] m-tyler commented on #159
That's good news.

However, the log I sent in the OP, occurred without a source member actually being open.   I had no editors open and I don't think I was even connected to the server at the time.  (The image from above was from an earlier session where I had connected to our server).

Could the bug occur based on something in the cache?

[2022-11-02 16:52] worksofliam commented on #157
Done in 0.15.3

[2022-11-02 16:52] #157 closed

[2022-11-02 16:53] worksofliam commented on #159
@m-tyler Yes, it's quite possible it could have been triggered by an internal cache. 0.15.3 is coming out now. Give it a go for me and let me know if the issue persists. Maybe we will fix two bugs today.

[2022-11-02 16:56] worksofliam commented on #159
@m-tyler I will also add this: you're likely seeing a lot more errors in newer release we removed *all* try/catch statements from our code. We're aiming to create better code and better performing code, and that is part of it. So there now some instances showing where we aren't capturing errors (like this one!)

[2022-11-02 18:48] m-tyler commented on #159
No, I have not updated it yet.  I am still working on things to get my working folder to a state as close to when I first noticed the issue appear.

So the issue wasn't just what I sent via the log file.  There were many attempts that no error appeared in the RPGLE Language output view but VS Code wouldn't function well.  When I reverted back to 0.14.1 I did not encounter any problems.

So, might

[2022-11-02 19:31] m-tyler commented on #159
I have updated to 0.15.3 now.  I don't see the properties error anymore (example in prior post).   That error I think came from the existence of a folder with a whole lot of duplicated source.  This source was from my library on my IBM i and I copied it to my IBM i home folder mapped drive.   Once that folder was removed, I no longer saw that error reported.

A couple of items were the source of t

[2022-11-02 19:36] worksofliam commented on #159
@m-tyler Glad to hear it.

You shouldn't have to do this any long. I added in more code to ignore `.git` folders (which it should have been doing anyway, but now I am being explicit about it).

Also, I don't generally recommend using a git repo on a mapped drive due to the slowness it can cause over network. Git is very filesystem heavy, and adding a mapped drive into the mix doesn't sound too goo

[2022-11-02 19:36] #159 closed

[2022-11-02 19:47] worksofliam commented on #152
Done

[2022-11-02 19:47] #152 closed

[2022-11-03 21:00] m-tyler commented on #159
Just an FYI update, ever since I was able to get my environment running again, the outline builds lighting fast compared to how it used to build.  I wonder if some of that was due to me clearing the editor cache in VS Code or is it all part of the latest features?

[2022-11-03 21:31] worksofliam commented on #159
@m-tyler that's awesome!

Likely due to the big change in 0.14. I am so glad to hear that!

[2022-11-04 22:59] m-tyler opened #160 "IASP definition being inserted in place of library in downloadMemberContentWithDates()"
I defined the IASP name of our system on my connection and it now appears in the create or replace alias SQL command instead of the library.

If I remove the IASP value from the connection setting, shut VS Code, open VS Code, connect to my server, open a member, I still see the IASP reference in the create alias command.

I have yet to verify if this occurred in prior release.

* Code for IBM I ve

[2022-11-05 13:12] worksofliam commented on #160
Happening here: https://github.com/halcyon-tech/vscode-rpgle/blob/83773b479ad2bba25f5dca80534417106f9b4c1b/server/src/server.ts#L121

We are taking account of the ASP in the URI. Working on it now.

[2022-11-05 13:24] worksofliam commented on #155
Done and is in the artifacts

[2022-11-05 13:24] #155 closed

[2022-11-05 13:25] worksofliam commented on #160
@m-tyler I know you won't be back next week, but 0.15.5 is out which should resolve this issue. Thanks!

[2022-11-05 13:28] #160 closed

[2022-11-05 13:38] m-tyler commented on #160
I had a little time this early am, I upgraded to 0.15.5 and tested again with positive results.  Thanks!

[2022-11-05 14:02] worksofliam commented on #160
@m-tyler nice! I love early morning fixes. Have a great week whatever you get up to.

[2022-11-06 16:54] SJLennon opened #161 "Autofix Issue"
Been out of the loop for a while and just getting back, so maybe I'm missing something...

I found that the "Fix all auto-fixable Problems" has  vanished.  But per issue #148 it is now right click and "Format Document". So it still largely works.

Following snippet does not correct correctly.

Before:
![image](https://user-images.githubusercontent.com/67484051/200183427-28e23005-aeed-4fbb-9a58-85c

[2022-11-06 19:15] worksofliam commented on #161
Oh damn. Someone did actually mention about the bracket issue. I will fix that today.

[2022-11-06 19:32] SJLennon commented on #161
@worksofliam Another question...
Didn't it used to fix errors like this:
![image](https://user-images.githubusercontent.com/67484051/200191042-5f335d5f-f479-4636-b71d-41bf876e1b5f.png)
Or has my memory gone?

[2022-11-06 19:33] worksofliam commented on #161
@SJLennon the autofix never fixes those qualified lint rules.

[2022-11-06 23:45] worksofliam commented on #161
@SJLennon fix will be available in 0.15.6!

[2022-11-06 23:45] #161 closed

[2022-11-08 01:31] #131 closed

[2022-11-08 01:32] worksofliam commented on #125
@dennisnel A lot has changed in the last 1.5 months. Are you still getting this issue at all?

[2022-11-08 01:33] worksofliam commented on #73
This is not something we are considering any further.

[2022-11-08 01:33] worksofliam commented on #61
Linting is not a toggle option anymore. If `rpglint.json` exists, then it's on - otherwise, it is off.

[2022-11-08 01:33] #61 closed

[2022-11-08 09:27] dennisnel commented on #125
Hi @worksofliam , I have checked and everything appears to be working as expected.

Thanks for all the hard work, much appreciated.

[2022-11-08 09:27] #125 closed

[2022-11-09 08:17] pabloto opened #162 "Rpgle Auto fix doesn't appear"
Hi,

I cannot retreive command rpgle  fix:

<img width="1059" alt="image" src="https://user-images.githubusercontent.com/9719313/200775829-71d73551-d6db-4b5f-9e97-84b5cc2902b4.png">

What Am I doing wrong?

[2022-11-09 12:49] worksofliam commented on #162
Use Format Document instead.

[2022-11-09 12:49] #162 closed

[2022-11-09 21:57] davidschmidt opened #164 "Go to definition for procedure in binding dir"
I would like to have the ability to have 'go to definition' for procedures in a binding dir. This will allow quicker access to code and provide similar functionality as popular editors.

[2022-11-09 23:54] jwoehr opened #163 "Needs more RPGLE support e.g., prompting `dcl-pr`"
_I assume this is the issue tracker for vscode-rpgle also since that repo does not have its own issue tracker_

**Is your feature request related to a problem? Please describe.**
Some RPGLE specification are not supported in the vscode-rpgle extension, e.g., `dcl-pr`

**Describe the solution you'd like**
Extend vscode-rpgle

**Describe alternatives you've considered**
Snippet suggested by @p-behr

[2022-11-10 19:04] worksofliam commented on #164
These statements need to be combined into a join

[code]

[2022-11-10 20:39] worksofliam commented on #164
https://www.ibm.com/docs/en/i/7.3?topic=keywords-bnddirbinding-directory-name-binding-directory-name

[2022-11-10 21:20] worksofliam commented on #164
[code]

[2022-11-14 10:37] richardm90 opened #166 "Code becomes sluggish when upgrading from v0.14.2 to v0.15.0"
I started experiencing a problem with VS Code and I think I've managed to track down the offending extension.

VS Code started becoming really slow and sluggish, everything just took a really long time to complete. After opening VS Code and switching to the Code for IBM i extension it took several minutes for my list of connections to appear. If I then clicked on a connection it took many minutes

[2022-11-14 14:00] worksofliam commented on #166
@richardm90 let me look into this today and tomorrow and see if I can find something meaningful for it.

[2022-11-14 14:54] m-tyler commented on #160
Hi,
I just updated to 0.15.9 and now I see this in the log.  I was looking over the log I only see WIASP being used for the library for the RPGLINT member.  I don't recall if the RPGLINT member was formatted like this in 0.15.5.
[code]

[2022-11-14 15:04] worksofliam commented on #160
@m-tyler this is possibly a new bug. Would you mind raising this bug?

[2022-11-14 15:09] m-tyler opened #167 "IASP definition being inserted in place of library in `create or replace alias` for RPGLINT member"
After getting issue #160 fixed a week ago in 0.15.5, I updated to 0.15.9 and I noticed that I am seeing the value of my IASP used in the create alias statement.
[code]

[2022-11-14 15:09] m-tyler commented on #160
I created issue #167.

[2022-11-14 15:29] worksofliam commented on #166
@richardm90 Of course, it is related to 'project mode'. Do you have a local workspace open (e.g. a folder open in VS Code?) when working with source members?

[2022-11-14 15:31] worksofliam commented on #167
Issue is here: https://github.com/halcyon-tech/vscode-rpgle/blob/d54158c1db8fb5371def8151b0649c44a86f722f/client/src/linter.ts#L64

[2022-11-14 16:44] richardm90 commented on #166
@worksofliam yes, I do have a local folder open

[2022-11-14 16:52] richardm90 commented on #166
@worksofliam I'm not sure that's the full answer though as I tried the same on another desktop (with an open local folder) and it works OK.

[2022-11-14 17:11] worksofliam commented on #166
@richardm90 was the other desktop also Linux or a different OS?

[2022-11-14 18:15] richardm90 commented on #166
@worksofliam both are linux

[2022-11-14 18:16] richardm90 commented on #166
@worksofliam if it helps to jump on a screen share then let me know

[2022-11-14 18:41] worksofliam commented on #166
@richardm90 send me an email at liam@whoiworkfor.com and we will organise the meeting for later this week.

I'm out of office at a conference until Wednesday.

[2022-11-14 18:47] richardm90 commented on #166
@worksofliam that email address bounced.

[2022-11-14 18:49] worksofliam commented on #166
Sorry: liama@whoiworkfor.com.

[2022-11-14 19:28] worksofliam commented on #167
@m-tyler 0.15.10 is being released to hopefully solve this issue.

[2022-11-14 19:43] richardm90 commented on #166
@worksofliam still bounced, this is the message I get

Address not found
Your message wasn't delivered to liama@whoiworkfor.com because the domain [whoiworkfor.com](http://whoiworkfor.com/) couldn't be found. Check for typos or unnecessary spaces and try again.

[2022-11-14 19:46] worksofliam commented on #166
Sent you a DM on LinkedIn 😄

[2022-11-14 19:47] richardm90 commented on #166
Sorry, I was being really dim there!

[2022-11-14 20:29] m-tyler commented on #167
Updated to 0.15.10 and now it the path for the RPGLINT member is valid.

[code]

[2022-11-14 20:30] worksofliam commented on #167
Excellent! Thank you @m-tyler

[2022-11-14 20:30] #167 closed

[2022-11-15 13:13] pabloto opened #168 "Rpgle language client"
Hi,

vscode-rpgle version: v0.15.10

I work in local.

Today I have a lot of error in output tab rpgle language client.
<img width="553" alt="image" src="https://user-images.githubusercontent.com/9719313/201928342-66e49bbe-2f86-4e4c-b9ac-ecaa98674316.png">

in attach the log.
[rpglelanguageclient.txt](https://github.com/halcyon-tech/vscode-ibmi/files/10012925/rpglelanguageclient.txt)

[2022-11-16 13:34] #168 closed, assigned to nobody

[2022-11-16 14:56] pabloto commented on #168
Hi @worksofliam , all works fine now.

Thanks!

[2022-11-16 15:14] m-tyler opened #169 "RPGLE version 0.15.10+ missing command `RPGLE: Fix all auto-fixable Problems`"
This command seems to be taken out or missing.  I see only the following while searching for `fix`.
![image](https://user-images.githubusercontent.com/1353665/202218894-a13f7884-cf64-4a07-92bc-79cf2dde499c.png)

If I search for `RPGEL:` I only see the following.
![image](https://user-images.githubusercontent.com/1353665/202219021-a28c5849-c4fc-41aa-8b7e-601f6db3fa09.png)

How do I auto-fix syntax/

[2022-11-16 17:18] #169 closed

[2022-11-16 17:25] m-tyler commented on #169
I went to the online documentation and it still shows the older method in the screenshot.  I missed that update.  Good to know, Thanks.
![image](https://user-images.githubusercontent.com/1353665/202249830-83e5ab47-af43-4026-9f27-d4388721e8b4.png)

[2022-11-17 12:33] pabloto commented on #168
Hi @worksofliam ,

there's still some problem:

`
**free
Ctl-opt  datfmt(*iso) timfmt(*iso) alwnull(*usrctl) debug;

Dcl-F TESTFILE3     Keyed Usage(*Update :*Delete);

Dcl-Pr TESTCHAIN1 ExtPgm('TESTCHAIN1');
  Parm1 Char(1);
End-Pr TESTCHAIN1;

Dcl-Pi TESTCHAIN1;
  Parm1 Char(1);
End-Pi TESTCHAIN1;

Dcl-DS AAA;
  a Char(10);
  Dcl-ds a;
  End-ds a;
End-Ds AAA;

If (Parm1 = 'N');
  Chain ('CHIAVE'

[2022-11-17 18:51] m-tyler opened #170 "Linter rule `NoUnreferenced` set true then *INZSR is marked with warning"
Is there any way to skip marking *INZSR?
![image](https://user-images.githubusercontent.com/1353665/202533090-44d59fc2-6ab1-4686-a543-17c5fe747dbc.png)

[2022-11-17 19:11] worksofliam commented on #170
Ha, good spot. Yes, I will look into this today

[2022-11-17 20:14] m-tyler commented on #170
Where does the reference information come from when one has not compiled the code?  I am seeing the markups drifting from the proper source of the linter issue.

![image](https://user-images.githubusercontent.com/1353665/202549759-69920d77-5a66-4531-a77a-bbede21065bc.png)

The named item of `LDA` is not referenced but all sub fields are.

The field `Move1` is used.

[2022-11-17 20:22] worksofliam commented on #170
@m-tyler Could be a bigger issue.

Share something I can use to recreate that when you have a moment.

[2022-11-17 21:00] m-tyler commented on #170
[ISSUE_170.RPGLE.TXT](https://github.com/halcyon-tech/vscode-rpgle/files/10035574/ISSUE_170.RPGLE.TXT)
[ISSUE_170A.RPGLE_DS.TXT](https://github.com/halcyon-tech/vscode-rpgle/files/10035575/ISSUE_170A.RPGLE_DS.TXT)

These two, demo the issue and the code is compilable.

[2022-11-17 23:35] worksofliam commented on #170
@m-tyler First issue is fixed. Second one needs a bit of work, so I will keep you posted.

[2022-11-18 15:15] m-tyler commented on #170
For internal *ENTRY prototypes, are they supposed to be marked up as not referenced?
This is NOT a `NOMAIN` program.
![image](https://user-images.githubusercontent.com/1353665/202737697-bad57885-89dd-426d-a0d4-2ed1c1428c04.png)

I'm not saying it shouldn't be marked just curious about the rules marking up not referenced items.

[2022-11-18 15:38] #170 closed

[2022-11-18 15:53] worksofliam commented on #170
@m-tyler 0.15.13 was released. You should give it a go.

Yes, if it's not referenced then you will get the error. You don't need a PR for the program when you have a PI.

Thanks,
Liam

[2022-11-18 23:22] m-tyler commented on #170
I confirm that this fix works for me.
![image](https://user-images.githubusercontent.com/1353665/202819169-9aa9e35d-ec73-45f6-8cb7-91c97749d5d8.png)

[2022-11-19 04:29] #2 closed

[2022-11-19 04:30] worksofliam commented on #89
@m-tyler is this still an issue with newer versions of the language extension?

[2022-11-19 04:31] #95 closed

[2022-11-19 04:32] #133 closed

[2022-11-21 15:00] m-tyler commented on #89
The member name is parse correctly now.

![image](https://user-images.githubusercontent.com/1353665/203087297-189b739f-9ef5-4295-871e-720be13c9eae.png)

[2022-11-21 15:00] #89 closed

[2022-11-22 12:06] JDubbTX opened #172 "prototype not converted correctly - missing 'end-pr'"
When converting a file that contains a single prototype in it, end-pr is not added at the end.

![image](https://user-images.githubusercontent.com/56802156/203309574-bc80a30b-2e55-4f09-85c1-5a0f187329f9.png)

![image](https://user-images.githubusercontent.com/56802156/203309736-0a506bc8-9156-4528-81af-8c35d58b7dbe.png)

[2022-11-22 12:17] JDubbTX opened #173 "Fixed form comments not converting to free form comments"
Perhaps this is up for a debate.

I have been trying out VSCODE in local development and building with BOB, mainly as a learning exercise.  As part of the process I'm taking older RPGLE programs and 1) converting them to free form 2) Adding **FREE at the top 3) reformatting based on linting rules.

One issue I have run across repeatedly is fixed form style comments will break the compile.  These a

[2022-11-22 14:19] worksofliam commented on #173
@JDubbTX I think you may have the wrong repo. This repo doesn't deal with any conversion.

You likely want vscode-rpgfree.

[2022-11-22 14:19] #173 closed

[2022-11-22 16:13] #166 closed

[2022-11-22 16:27] #164 closed

[2022-11-23 17:30] m-tyler opened #175 "Linter rule NoUnreferenced set true then *PSSR is marked with warning"
See issue #170.

The same needs to be done for *PSSR.

Thanks.

[2022-11-27 01:58] worksofliam commented on #175
@m-tyler Any chance you can provide a code sample of this? Thanks!

[2022-11-28 15:12] m-tyler commented on #175
[ISSUE_175.RPGLE.txt](https://github.com/halcyon-tech/vscode-rpgle/files/10104903/ISSUE_175.RPGLE.txt)

FYI, this was with me being at version 0.16.0.  I tried updating to the latest version but I was having some issues so I downgraded.

[2022-11-28 15:53] worksofliam commented on #175
Thanks, I will get a test and fix in for this ASAP.

[2022-11-29 01:44] worksofliam commented on #175
Ready to be released.